/* All image and colour references should be stored within their respective CSS files */
/* DO NOT store any image or colour references within this file */

body{font-size:67.5%; margin:0; padding:0; text-align:center; background-attachment:fixed; background-repeat:no-repeat; background-position:top right;}
a:hover, a:focus, a.focus{text-decoration:none;}
input, select{border-width:1px; border-style:solid;}
li{line-height:1.2em;}
p{line-height:1.6em;}

/* Necessary so links vertically align to their corresponding inputs when a label is included */
.formSection a label{line-height:1.7em;}
.quoteUpdateUnder{margin-top:4px;}

input.fluid{width:auto!important; overflow:visible;}

#skip{position:absolute; top:2px; height:1px; width:1px; display:block; overflow:hidden; z-index:999999;}
#skip:hover, #skip:focus, #skip.focus{height:auto; width:auto;}
#borderEmailOverlay{border-bottom: 1px solid rgb(90, 45, 127);}
/* site structure */
#main{margin:auto; position:relative; text-align:left; width:970px;}
#main.error{width:574px;}
#popupMain{margin:22px 10px; position:relative; text-align:left;}
#popupMain #pageContent{background:0; padding:0; overflow:visible;}
#pageHead{height:85px;}
#pageHead #logoChild{float:left;}
#pageHead #logoParent{float:right;}

/* TOP MENU CSS */
#pageNavigation{height:47px; position:relative; background-repeat:no-repeat; background-position:0 -720px;}
#pageNavigation li, #pageNavigation2 li{float:left; width:185px; height:40px; background-repeat:no-repeat;}
#pageNavigation li input, .renewalBreadcrumbs #pageNavigation li ol li input, .renewalBreadcrumbs #pageNavigation ol li input, #pageNavigation li a, #pageNavigation.menuInformation #menuInformation ol li span{display:block; height:40px; overflow:hidden; text-indent:-50000px; width:99%; background:0; border:0; cursor:pointer; margin:0; padding:0;}
#pageNavigation li ol{position:absolute; left:0; width:970px; background-repeat:no-repeat; background-position:0 -40px; height:40px;}
.MT #pageNavigation li ol{top:0;}
#pageNavigation li ol li, #pageNavigation li ol li input{height:38px; width:205px;}
#pageNavigation li ol li{position:relative;}

.renewalBreadcrumbs.MT #pageNavigation ol{top:5px;}

.renewalBreadcrumbs #pageNavigation.menuQuote{height:47px !important;}
.renewalBreadcrumbs #block2{margin-top:30px;}
.renewalBreadcrumbs #pageNavigation ol{position:absolute; width:550px; left:211px; top:47px;}

.renewalBreadcrumbs #pageNavigation ol{width:550px; height:38px; background-repeat:no-repeat; background-attachment:scroll; background-position:0 0;}
.renewalBreadcrumbs #pageNavigation ol.stage-01{background-position:0 0;}
.renewalBreadcrumbs #pageNavigation ol.stage-02{background-position:0 -40px;}
.renewalBreadcrumbs #pageNavigation ol.stage-03{background-position:0 -80px;}

.renewalBreadcrumbs #pageNavigation ol li{background:0 none;}
.renewalBreadcrumbs #pageNavigation ol li.stage-01{width:143px; background:0 none;}
.renewalBreadcrumbs #pageNavigation ol li.stage-02{width:261px;}
.renewalBreadcrumbs #pageNavigation ol li.stage-03{width:140px;}

/* default values */
#menuInformation{background-position:0 -720px;}
#menuCarInsurance {background-position:-185px -720px;}
#menuQuote {background-position:-370px -720px;}
#menuMyEChoice {background-position:-555px -720px;}

/* menuInformation */
#pageNavigation.menuInformation{background-position:0 -720px; height:80px !important;}
#pageNavigation.menuInformation #menuInformation{background-position:0 -200px;}
#pageNavigation.menuInformation #menuInformation ol li{background-position:0 -200px;}
#pageNavigation.menuInformation #menuInformation ol.overview{background-position:0 -240px;}
#pageNavigation.menuInformation #menuInformation ol.overview li{background:0;}
#pageNavigation.menuInformation #menuInformation ol li.overview{width:161px;}
#pageNavigation.menuInformation #menuInformation ol.overview li.overview{background-position:0 -240px;}

#pageNavigation.menuInformation #menuInformation ol.choose{background-position:0 -280px;}
#pageNavigation.menuInformation #menuInformation ol.choose li{background:0;}
#pageNavigation.menuInformation #menuInformation ol li.choose{width:207px;}
#pageNavigation.menuInformation #menuInformation ol.choose li.choose{background-position:0 -280px;}

#pageNavigation.menuInformation #menuInformation ol.heritage{background-position:0 -320px;}
#pageNavigation.menuInformation #menuInformation ol.heritage li{background:0;}
#pageNavigation.menuInformation #menuInformation ol li.heritage{width:179px;}
#pageNavigation.menuInformation #menuInformation ol.heritage li.heritage{background-position:0 -320px;}

#pageNavigation.menuInformation #menuInformation ol.customer-support{background-position:0 -360px;}
#pageNavigation.menuInformation #menuInformation ol.customer-support li{background:0;}
#pageNavigation.menuInformation #menuInformation ol li.customer-support{width:220px;}
#pageNavigation.menuInformation #menuInformation ol.customer-support li.customer-support{background-position:0 -360px;}

#pageNavigation.menuInformation #menuInformation ol li.news{width:200px;}
#pageNavigation.menuInformation #menuInformation ol.news li{background:0;}
#pageNavigation.menuInformation #menuInformation ol.news{background-position:0 -800px;}

#pageNavigation.menuInformation #menuInformation ol li span{cursor:auto; width:auto;}
#pageNavigation.menuInformation #menuInformation ol li a{width:auto;}
/* menuCarInsurance */
#pageNavigation.menuCarInsurance{background-position:0 -720px; height:80px !important;}
#pageNavigation.menuCarInsurance #menuCarInsurance{background-position:-185px -480px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li{background-position:0 -480px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.car-overview{background-position:0 -520px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.car-overview  li{background:0;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li.car-overview{width:161px; background-position:0 -520px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.car-overview  li.car-overview{background-position:0 -520px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.documents{background-position:0 -560px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.documents li{background:0;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li.documents{width:210px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.documents  li.documents{background-position:-161px -560px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.features{background-position:0 -600px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.features  li{background:0;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li.features{width:217px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.features  li.features{background-position:-210px -600px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.whatwecover{background-position:0 -640px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.whatwecover  li{background:0;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li.whatwecover{width:180px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.whatwecover  li.whatwecover{background-position:-371px -640px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.extracoveroptions{background-position:0 -680px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.extracoveroptions  li{background:0;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li.extracoveroptions{width:200px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol.extracoveroptions li.extracoveroptions{background-position:-551px -680px;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li span{cursor:auto; width:auto;}
#pageNavigation.menuCarInsurance #menuCarInsurance ol li a{width:auto;}
/* menuQuote */
#pageNavigation.menuQuote{background-position:0 0; height:80px !important}
#pageNavigation.menuQuote #menuQuote{background-position:-370px 0;}
#pageNavigation.menuQuote #menuQuote ol li{background-position:0 0;}
#pageNavigation.menuQuote #menuQuote ol.stage-01{background-position:0 -40px;}
.MT #pageNavigation.menuQuote #menuQuote ol.stage-01{background-position:0 -43px;}
#pageNavigation.menuQuote #menuQuote ol.stage-01  li{background:0;}
#pageNavigation.menuQuote #menuQuote ol li.stage-01{width:197px;}
#pageNavigation.menuQuote #menuQuote ol.stage-01 li.stage-01{background-position:0 -40px;}
#pageNavigation.menuQuote #menuQuote ol.stage-02{background-position:0 -80px;}
.MT #pageNavigation.menuQuote #menuQuote ol.stage-02{background-position:0 -83px;}
#pageNavigation.menuQuote #menuQuote ol.stage-02  li{background:0;}
#pageNavigation.menuQuote #menuQuote ol li.stage-02{width:198px;}
#pageNavigation.menuQuote #menuQuote ol.stage-02 li.stage-02{background-position:-197px -80px;}
#pageNavigation.menuQuote #menuQuote ol.stage-03{background-position:0 -120px;}
.MT #pageNavigation.menuQuote #menuQuote ol.stage-03{background-position:0 -123px;}
#pageNavigation.menuQuote #menuQuote ol.stage-03  li{background:0;}
#pageNavigation.menuQuote #menuQuote ol li.stage-03{width:185px;}
#pageNavigation.menuQuote #menuQuote ol.stage-03 li.stage-03{background-position:-395px -120px;}
#pageNavigation.menuQuote #menuQuote ol.stage-04{background-position:0 -160px;}
.MT #pageNavigation.menuQuote #menuQuote ol.stage-04{background-position:0 -163px;}
#pageNavigation.menuQuote #menuQuote ol.stage-04  li{background:0;}
#pageNavigation.menuQuote #menuQuote ol li.stage-04{width:300px;}
#pageNavigation.menuQuote #menuQuote ol.stage-04 li.stage-04{background-position:-580px -160px;}
.MT #pageNavigation.menuQuote #menuQuote ol.stage-04 li.stage-04{background-position:-580px -163px;}

#pageNavigation #menuQuote.quoted{background-position:-370px -880px;}
#pageNavigation.menuQuote #menuQuote.quoted{background-position:-370px -840px;}
/* menuMyEChoice */
.MT #pageNavigation.menuMyEChoice{background-position:0 -6px !important;}
.renewalBreadcrumbs.MT #pageNavigation{background-position:0 -42px !important; height:5px !important;}

#pageNavigation.menuMyEChoice{background-position:0 -400px !important;}
#pageNavigation.menuMyEChoice #menuMyEChoice{background:0 !important;}

.MT #pageNavigation{height:40px !important;}
.MT #pageNavigation.MT{height:5px !important; background-position:0 -42px !important;}

#pageContent{clear:both; padding:8px 0 0 12px; background-repeat:repeat-y;}
.opera #pageContent{width:1000px;}
#pageContent.home{padding:10px 0 5px 12px; overflow:visible;}

#pageFooter{clear:both; padding:20px 0 10px; overflow:auto; text-align:center; background-repeat:no-repeat; background-position:0 -3px; width:970px;}
#pageFooter li{display:inline; padding:3px 0 3px 12px; background-repeat:no-repeat; background-position:0 6px;}
#pageFooter li.first{background:0; padding-left:0;}

/* content blocks */
#block1{width:186px;}
#block2{width:574px; margin-bottom:7px;}
#block3{width:186px; padding-right:12px;}
.twoBlocks #block2{width:770px;}
.brochure .twoBlocks #block2{width:758px;}
.home .twoBlocks #block2{width:747px; background-repeat:no-repeat; background-position:100% 100%;}

#block1, #block2, #block3{float:left;}

/* classes provided */
.leftCol, .rightCol{width:233px; display:block; float:left;}
.leftCol{margin-right:8px; text-align:right; padding-top:4px;}
.login .leftCol{width:200px;}
.rightCol{padding-top:1px;}
.login .rightCol{width:310px;}
.rightCol a{clear:both; display:block;}
.rightCol p.sml a{display:inline;}
.login .rightCol a{float:right; width:150px; margin-right:10px; clear:none; font-size:0.85em;}
.login input{float:left;}
input.sml{width:50px;}

.clearFloatLeft{clear:left;}
.clearFloat, .clearHeader, .clearFloat1Px{clear:both; font-size:1px; line-height:0px;}
.clearFloat1Px{height:1px;}
.clearHeader{background-repeat:no-repeat; background-position:50% 0; height:1px;}

.grey-panel-725, .panel-725-submit, .wrapper-3, .formSection .wrapper-3{margin:0 auto 20px; background-repeat:no-repeat; width:500px;}
.grey-panel-725{background-repeat:no-repeat;  margin-top:20px;}
.alt1{margin-top:0px; margin-bottom:20px !important;}
.panel-725-submit p{float:left; width:295px;}
.grey-panel-footer{padding:11px 10px; background-position:0 100%; background-repeat:no-repeat; height:100%; line-height:1.2em;}
.renewal .grey-panel-4 .grey-panel-footer{padding:0 0 11px 0; background:0;}
.renewal #quoteSummaryPricePanel .grey-panel-footer{padding:11px 16px;}
.renewal #quoteSummaryPricePanel .grey-panel-footer .button-02{margin-right:0;}
.panel-725-submit .grey-panel-footer, .wrapper-3A{background-position:0 100%; background-repeat:no-repeat;}

.twoBlocks .grey-panel-725, .twoBlocks .panel-725-submit{background-repeat:no-repeat; background-position:right 0; width:693px; padding-left:1px;}
.twoBlocks .panel-725-submit{background-repeat:no-repeat; background-position:right 0; margin:0 auto 20px;}
.twoBlocks .grey-panel-footer{background-repeat:no-repeat; background-position:right 100%;}
.twoBlocks .panel-725-submit .grey-panel-footer{background-repeat:no-repeat; background-position:0 100%;}
.twoBlocks .panel-725-submit p{width:475px;}
.twoBlocks .directDebit .panel-725-submit{margin:0 auto 20px;}
.twoBlocks iframe{height:1500px; width:770px;}
.twoBlocks .directDebit iframe{height:1000px;}
.JSOFF .twoBlocks .directDebit #iframe{height:1635px;}
.JSOFF .twoBlocks .directDebit.creditCard #iframe{height:2385px !important;}

.grey-panel{background-repeat:repeat-y; background-position:0 100%; width:530px; margin:0 auto 20px;}
.twoBlocks .grey-panel{background-repeat:repeat-y; background-position:10px 100%; width:713px;}
.renewal .grey-panel-4{background-repeat:repeat-y; background-position:22px 100%; width:544px; margin:0 auto 20px;}

.twoBlocks .directDebit .grey-panel{margin:20px auto 20px}
.twoBlocks .grey-panel .grey-panel-top{background-repeat:no-repeat; background-position:10px 100%;}
.renewal .grey-panel-4 .grey-panel-top{background-repeat:no-repeat; background-position:22px 100%;}
.twoBlocks .grey-panel .grey-panel-footer{padding:0 0 6px 0; background-repeat:no-repeat; background-position:10px 100%;}
.twoBlocks .grey-panel h3, .renewal .grey-panel-4 h3, #customise table tr.h3, #customiseAddOn table tr.h3, #customiseBundle h3, #customiseBundle_a h3, .twoBlocks .panel-7A h3, .twoBlocks .panel-7A h3, .twoBlocks .panel-8A h3, .twoBlocks .panel-9A h3, .twoBlocks .panel-10A h3{background-repeat:no-repeat; padding:6px 0 0 12px; font-size:1.2em; margin-bottom:0; margin-left:10px; font-weight:bold; height:20px;}
.twoBlocks .grey-panel h3{margin-bottom:10px;}
.renewal .grey-panel-4 h3{margin-left:22px;}
#customiseBundle h3{margin:0 auto 10px; width:681px;}
.renewalBreadcrumbs #customiseBundle #customise-out h3, .renewalBreadcrumbs #customiseBundle_a #customise-out h3{margin-bottom:0;}
.JSOFF .renewalBreadcrumbs #customiseBundle #customise-out h3, .JSOFF .renewalBreadcrumbs #customiseBundle_a #customise-out h3{margin-bottom:10px;}
.twoBlocks .grey-panel p{padding:0 20px 20px 20px;}
.twoBlocks .grey-panel-3 p{padding:0 10px 10px 10px;}
.JSOFF .twoBlocks .grey-panel .helpMessage p{padding:0 26px 20px;}
.JSOFF .twoBlocks #boxedQuestions .grey-panel .helpMessage p, .JSOFF .renewal #boxedQuestions .grey-panel .helpMessage p{padding-bottom:3px;}

#tableInstructions p, #callCentreOptions p{font-size:1.2em;}

.grey-panel-2{clear:both; margin:0 20px 5px;}
.twoBlocks .grey-panel-2 h3{clear:both; margin:0; margin-left:0; background:0 !important; padding:0 0 10px 10px; height:20px !important;}
.twoBlocks .grey-panel-2 h3.dd-logo span{background-repeat:no-repeat; margin:-4px 0 0;}
.twoBlocks .grey-panel-2 .grey-panel-2-top{background-repeat:repeat-y; background-position:0 bottom;}
.twoBlocks .grey-panel-2 .grey-panel-2-footer{background-repeat:no-repeat; padding-bottom:5px;}
.twoBlocks .grey-panel-2 .scrollBox1{margin:0 8px 5px;}
.twoBlocks .grey-panel-2 .scrollBox2, .twoBlocks .grey-panel-2 .scrollBox3{margin:0 1px 5px;}

.twoBlocks .grey-panel-3{width:673px; padding:0; margin:0 20px;}
.twoBlocks #block2 .grey-panel-3 .wrapperA{margin:0; background-position: 0 0; background-attachment:scroll; background-repeat:no-repeat; height:5px; overflow:hidden;}
.twoBlocks #block2 .grey-panel-3 .wrapperB{margin:0; background-position: 0 0; background-attachment:scroll; background-repeat:repeat-y;}
.twoBlocks #block2 .grey-panel-3 .wrapperC{margin:0; background-position: 0 0; background-attachment:scroll; background-repeat:no-repeat; height:5px; overflow:hidden;}

.panel-3b #extraCoverOptionsSummary dl dt a{background-position:-7px -5px; background-repeat:no-repeat; padding:1px 0 3px 30px;}

.panel-2{width:457px; margin-left:37px;}
.panel-2A{background-repeat:no-repeat; height:25px;}
.panel-2B{background-repeat:no-repeat; background-position:0 100%;}
.panel-2B li{display:inline-block; line-height:1.2em; vertical-align:top;}
.panel-2C{background-repeat:no-repeat; overflow:hidden; height:4px;}
.renewal .panels {margin-bottom:20px;}
.twoBlocks .panels .headerButtons{margin:-56px 37px 0 0; float:right; width:223px;}
.twoBlocks .panels .headerButtons span{display:block; margin-top:6px !important;}
.twoBlocks .panels .headerButtons span input{width:223px;}

#legal{width:544px; padding:0 30px 20px 30px; font-size:0.9em; line-height:1.2em; margin:0 auto;}

.safari .threeBlocks .select{margin-right:-3px;}
.opera .threeBlocks .select{margin-right:5px;}
.radio{border:0 !important; margin-bottom:5px; margin-top:3px;}
.checkbox{border:0 !important;}

.radios label{margin-right:10px; padding-left:5px !important;}
.href input{border:0; text-decoration:underline; float:left; font-size:1em; cursor:pointer; padding:0; overflow:visible;}
.priceIncludes .href input{padding:9px 5px 0 0; width:150px;}
.safari .priceIncludes .href input{margin-top:4px;}
.headerButtons .href input{float:right; margin-right:18px;}
.rightCol .headerButtons .href input{font-size:0.85em; margin-right:0;}
.formSection .rightCol .headerButtons{margin-right:9px;}
.href input.focus, .href input:hover, .href input:focus{text-decoration:none;}

.radios label{margin-right:10px; padding-left:5px !important;}

.textfield.sml{width:45px;}
.textfield.med{width:96px;}
.textfield.login{width:140px;}
.textfield.lrg{width:210px;}
#ajax_findVehicle select.med{width:250px;}
li.autocomplete .textfield.lrg{width:210px;}
select.sml{width:51px;}
select.med, .JSOFF #ajax_findVehicle select.med{width:130px;}
select.lrg{width:211px;}
select.x-lrg{width:100%;}
#block2 .mta .leftCol p.sml{font-size:0.8em;}
#block2 .mta .rightCol p.sml{font-size:0.8em; float:right; width:224px;}

/* new classes */

#block2 .questionInfo{font-size:0.8em; clear:both; text-align:center; font-weight:normal; display:block; margin:0 20px;}
#block2 .questionInfo p{padding:0; text-align:center;}
#block2 .questionInfo p.label{padding-right:341px; text-align:right;}
#block2 .questionInfo p.input{padding-left:201px; text-align:left;}

#block2 label .questionInfo{text-align:inherit;}
#block2 label em{font-style:normal; font-weight:bold;}

ul.formInputs li.residency .rightCol div.dep{display:inline;}

.loggedIn, .loggedIn div{height:29px; text-align:right; width:200px;}
.MT .loggedIn, .MT .loggedIn div{width:300px;}
.loggedIn{display:table; position:absolute; right:12px; top:91px;}
.MT .loggedIn{top:57px;}
.loggedIn div{display:table-cell; vertical-align:middle;}
.loggedIn .logoutButton input{background:none; border:0 none; cursor:pointer; font-size:1em; margin:0; padding:0; overflow:visible;}

.required-fields{font-size:1em !important; font-weight:bold; padding-bottom:5px !important; text-align:right;}
.twoBlocks .grey-panel .required-fields{padding-top:5px;}
.twoBlocks .required-fields{float:right;}
.emailConfirmation, .price{font-size:2.2em !important;}
.formSection p.small{font-size:1em; margin-top:-10px;}
.loading{margin:0 0 20px 91px;}
.accessible, caption{position:absolute; top:-10000px;}
a.list, .list li, .list dt, span.list{background-repeat:no-repeat; background-position:0 1px; padding-left:12px; font-size:1.1em;}
.home .list li{font-size:1em; margin-bottom:6px;}
.list dt{background-repeat:no-repeat;}

a.showDetails{cursor:pointer; text-decoration:underline;}
a.showDetails:focus, a.showDetails:hover, a.showDetails.focus{text-decoration:none;}
ul.list {padding-bottom:1px;}
.list li{margin-bottom:6px;}
.formSection .list{padding-left:40px!important; margin:0 0 21px 0;}
.mta .formSection #customise .list{padding-left:12px!important;}
#block2 .wrapperB .formSection .list{padding-right:27px;}
#block1 .wrapperInner h2.attention, #block3 .wrapperInner h2.attention{background-repeat:no-repeat; background-position:0 bottom;}
#block1 .wrapperInner h2.sub{background:0; margin-bottom:0; padding-bottom:10px; padding-top:17px; clear:both;}

.formSection, .formSectionLast{background-repeat:no-repeat; background-position:50% 0; padding:0;}
.formSection.wHeading {background:0;}
.formSection.wHeading .formSectionA {display:none;}
.formSection.wHeading h3{padding-top:14px; padding-bottom:12px; margin-bottom:0; background-repeat:no-repeat; background-position:50% 0;}
.MT .formSection.wHeading h3{font-weight:bold;}
.formSection.wHeading #customise h3{display:none;}
.JSOFF .formSection.wHeading #customise h3{display:block;}

#unselected_options .button .bt, #selected_options .hasBTtwin, #unselected_options span.included{display:none !important;}
#unselected_options .hasBTtwin, #selected_options .button .bt{display:block;}

#formGrab .formSection, .twoBlocks .formSection, .renewal .formSection{background:0;}
#popupMain.print .hr, .twoBlocks .hr{margin-top:20px; background-repeat:no-repeat; background-position:13px 0;}
.twoBlocks .hr h3{float:left; width:60%;}
.twoBlocks .hr p.required-fields{padding-top:8px;}
.formSectionA{height:20px;}

.leftCol label{display:block; padding-left:25px;}

.minHeight{min-height:480px;}
.formSection p, .plainSection p{padding:0 27px 20px 39px; font-size:1.2em;}
.renewal .formSection p{padding:0 37px;}
.formSection.wHeading p{padding-top:10px;}
.plainSection{font-size:0.85em; padding-top:20px; clear:left;}
.grey-panel-725 p, .panel-725-submit p{font-size:1em; line-height:1.2em; padding:0;}
.formSection .formInputs li p.label, .formSection p.label, .formSection label, .grey-panel p.label, .grey-panel label{font-size:1em; line-height:1.2em; padding:0 0 0 25px;}
.formSection .formInputs li li {font-size:1em;}
.formSection table span.list label{padding-left:0; line-height:1em;}
.formSection dt label, .formSection .panel-3B li label{padding-left:0;}
#block2 .mta .formSection th label{line-height:1em; padding:0;}
.formSection p label{padding-left:7px; line-height:1.6em;}
.formSection p.policy-details label{padding-left:0;}
.formSection .rightCol span.savedAnswer{padding:0; margin:3px 0 0 0; display:inline-block;}
.formSection .rightCol p.label, .formSection .rightCol label{padding-left:0;}
.formSection h3, .formSection h4, .formSection h5, .formSection h6{font-size:1.8em;}
.formSection .formInputs li  .quoteclause p, .formSection h3, .formSection h4, .formSection h5, .formSection h6{padding:0 39px 15px 39px;}
.formSection .quote_values h3{padding:0;}
.formSection .formInputs li  .quoteclause p{padding-bottom:0;}
.formSection .quoteclause h3{padding-top:4px; padding-bottom:4px;}
.formSection h4{font-size:1.2em; font-weight:bold; padding-bottom:8px;}
.formSection h5, .formSection h6{font-size:1.1em; font-weight:bold; padding-bottom:7px;}
.formSection h6{font-size:1.2em; font-weight:normal;}

.formSection .thankyou{margin-top:-8px; margin-bottom:-6px;}
.formSection .thankyou h3{font-size:2.7em; font-weight:normal; line-height:1.2em;}

.brochure h3{font-size:1.2em; line-height:1.2em; font-weight:bold; padding:10px 0 5px;}
.brochure .wrapperB p{line-height:1.2em; margin-bottom:5px;}
.brochure #block2 .wrapperInner{padding-bottom:1px;}

.formSection ul.formInputs{background-repeat:no-repeat; background-position:50% top;}
.renewal .formInputs li, .formSection .formInputs li, .formSection .savedForm li, .grey-panel .savedForm li, .button-add-another-container{background-repeat:no-repeat; background-position:50% bottom; padding:0 0 10px 0; clear:both; font-size:1.2em;}
.formInputs li.nobg {background:0 none;}
.panelForm .formInputs li{padding:0 0 10px 0; background-repeat:no-repeat; background-position:50% bottom; clear:both;}

.threeBlocks .formInputs li{padding-bottom:11px;}

.panelForm .formInputs li.agreement{background:0;}
.panelForm .submitContainer{padding:10px 20px 40px;}
.panelForm .submitContainer .button-04{float:right; font-size:1.3em;}
.panelForm .submitContainer .button-04 input{padding-top:0}
.JSOFF .formSection .formInputs li, .JSOFF .grey-panel .formInputs li{padding-bottom:10px;}

.formSection .formInputs li p, .grey-panel .formInputs li p{font-size:1em; padding-top:0; padding-bottom:4px; padding-left:30px;}
#block2 .editMessage p{padding:16px 37px 18px 39px;}
.JSOFF .grey-panel-4 .helpMessage p{padding-left:35px;}
.home .formInputs li p{font-size:1em; padding-bottom:4px; padding-left:30px; padding-right:30px;}
.formSection .formInputs li .rightCol p, .grey-panel .formInputs li .rightCol p{padding:3px 0 0 0; font-weight:bold;}
.formSection .headerButtons, .grey-panel .headerButtons{float:right; margin:0 22px 0 0;}
.formSection .nobutton{width:170px;}
.formSection .nobutton a{float:left;}

.formSection h3.wrap{width:300px; float:left;}

.largeRadioLabels input{float:left;}
.largeRadioLabels label{float:left; width:93px; padding-top:6px;}

#block2 .rightCol .large p{font-weight:normal; line-height:1.2em;}

.formElTop{padding-top:8px; width:574px; background-repeat:no-repeat; background-position:50% bottom;}
.formElTop .formElTop{background-position:0 bottom;}
.currentDetails .formElTop{width:auto;}
.home .formElTop, .wrapperOverlay .formElTop{background:0;}
.threeBlocks .formElTop, .renewal .formElTop{width:auto;}
.renewal .accordionArea .formElTop{width:574px;}
.renewal .grey-panel-4 .leftCol, .renewal .grey-panel-4 .rightCol{width:214px;}
.threeBlocks .leftCol{width:83px;}
.threeBlocks .leftCol label{padding-left:20px; text-align:left;}
.safari .threeBlocks .leftCol label{padding-top:4px;}
.threeBlocks .rightCol{width:168px;}
.threeBlocks .textfield.lrg{width:161px;}

.twoBlocks .formSection .formInputs li{background-repeat:no-repeat; background-position:18px bottom;}
.twoBlocks #boxedQuestions .formInputs li{background-position:50% bottom;}
.twoBlocks .formSection ul.formInputs{background-repeat:no-repeat; background-position:18px 0;}
.twoBlocks .formElTop{width:770px; background:none;}
.twoBlocks #boxedQuestions .formElTop{width:713px;}
.twoBlocks .leftCol{width:350px;}
.twoBlocks #boxedQuestions .leftCol{width:290px;}
.twoBlocks .rightCol{width:315px;}
.twoBlocks .panelForm .formElTop{width:713px;}
.twoBlocks .panelForm .errorMessage .errorTop{width:713px;}
.twoBlocks .panelForm .leftCol{width:280px;}
.twoBlocks .panelForm .agreement .leftCol{width:233px;}
.twoBlocks .panelForm .agreement .rightCol{width:361px;}
.twoBlocks .panelForm h4{font-weight:bold; font-size:1.1em; padding:10px 0 3px 25px;}

/* help and error >> messages and icons */
.helpMessage, .errorMessage, .forceNonJsHelp .helpMessage{clear:both; display:none;}
.JSOFF .helpMessage, .forceNonJsHelp .helpMessage{display:block;}
.helpMessage .helpTop, .forceNonJsHelp .helpMessage .helpTop{width:574px; padding-top:10px;}
.renewal .helpMessage .helpTop{width:auto;}
.home .helpMessage .helpTop{width:354px; padding-top:10px;}
.errorMessage, .home .errorMessage{background-repeat:no-repeat; background-position:50% bottom;}
.helpOn .errorMessage, .home .helpOn .errorMessage{background-repeat:repeat-y !important; background-position:50% 0 !important;}
.errorMessage .errorTop{background-repeat:no-repeat; background-position:50% 0; padding-top:10px; width:574px;}
.home .errorMessage .errorTop{background-repeat:no-repeat; background-position:50% 0; padding-top:10px; width:354px;}

.highlight .helpMessage .helpTop, .home .highlight .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% 0;}
.error .helpMessage .helpTop, .home .error .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% -7px; padding-top:3px;}
.highlight .helpMessage, .home .highlight .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.JSOFF .helpMessage .helpTop, .JSOFF .threeBlocks .helpMessage .helpTop, .forceNonJsHelp .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% 0;}
.JSOFF .helpMessage, .JSOFF .threeBlocks .helpMessage, .forceNonJsHelp .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.error .helpMessage, .home.error .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.OKIcon, .errorIcon{float:left; display:none; width:21px; height:21px; text-indent:30px; overflow:hidden; background-repeat:no-repeat;}
.helpIcon{float:left; font-size:0.8em; margin-right:5px; padding-top:2px; text-align:right; width:50px;}
.login span.helpIcon{width:1px; font-size:1px;}
.package .helpIcon{float:right; font-size:0.8em; margin-right:10px; padding-top:0;}
.on .helpIcon{float:right; font-size:0.8em; margin-right:10px; padding-top:6px;}

/* CSS classes Styles for changeEmail.jsp */
.changeEmailAlign{height: 3px; padding-top: 1px;}
.changeEmailAlignInput{height: 21px; padding-top: 5px;}
.changeEmailAlignInput2{height: 21px; padding-top: 2px;}