/*RSA Stylesheet */




/* help and error >> messages and icons */
.helpMessage, .errorMessage, .forceNonJsHelp .helpMessage{clear:both; display:none;}
.JSOFF .helpMessage, .forceNonJsHelp .helpMessage{display:block;}
.helpMessage .helpTop, .forceNonJsHelp .helpMessage .helpTop{width:574px; padding-top:10px;}
.renewal .helpMessage .helpTop{width:auto;}
.home .helpMessage .helpTop{width:354px; padding-top:10px;}
.errorMessage, .home .errorMessage{background-repeat:no-repeat; background-position:50% bottom;}
.helpOn .errorMessage, .home .helpOn .errorMessage{background-repeat:repeat-y !important; background-position:50% 0 !important;}
.errorMessage .errorTop{background-repeat:no-repeat; background-position:50% 0; padding-top:10px; width:574px;}
.home .errorMessage .errorTop{background-repeat:no-repeat; background-position:50% 0; padding-top:10px; width:354px;}

.highlight .helpMessage .helpTop, .home .highlight .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% 0;}
.error .helpMessage .helpTop, .home .error .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% -7px; padding-top:3px;}
.highlight .helpMessage, .home .highlight .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.JSOFF .helpMessage .helpTop, .JSOFF .threeBlocks .helpMessage .helpTop, .forceNonJsHelp .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% 0;}
.JSOFF .helpMessage, .JSOFF .threeBlocks .helpMessage, .forceNonJsHelp .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.error .helpMessage, .home.error .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.OKIcon, .errorIcon{float:left; display:none; width:21px; height:21px; text-indent:30px; overflow:hidden; background-repeat:no-repeat;}
.helpIcon{float:left; font-size:0.8em; margin-right:5px; padding-top:2px; text-align:right; width:50px;}
.login span.helpIcon{width:1px; font-size:1px;}
.package .helpIcon{float:right; font-size:0.8em; margin-right:10px; padding-top:0;}
.on .helpIcon{float:right; font-size:0.8em; margin-right:10px; padding-top:6px;}

.twoBlocks .helpMessage .helpTop{width:770px;}
.twoBlocks #boxedQuestions .helpMessage .helpTop{width:713px;}
.twoBlocks .errorMessage{background-repeat:no-repeat; background-position:50% bottom;}
.twoBlocks .helpOn .errorMessage{background-repeat:repeat-y !important; background-position:50% 0 !important;}
.twoBlocks .errorMessage .errorTop{background-repeat:no-repeat; background-position:50% 0; width:772px;}
.twoBlocks #boxedQuestions .errorMessage .errorTop{background-repeat:no-repeat; background-position:50% 0; width:715px;}
.JSOFF .twoBlocks .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% 0;}
.JSOFF .twoBlocks .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.twoBlocks .highlight .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% 0;}
.twoBlocks .error .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% -7px;}
.twoBlocks .highlight .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.twoBlocks .error .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}

.twoBlocks .panelForm .helpMessage .helpTop{width:713px;}
.twoBlocks .panelForm .errorMessage{background-repeat:no-repeat; background-position:9px bottom;}
.twoBlocks .panelForm .helpOn .errorMessage{background-repeat:repeat-y !important; background-position:9px 0 !important;}
.twoBlocks .panelForm .errorMessage .errorTop{background-repeat:no-repeat; background-position:10px 0; width:713px;}
.JSOFF .twoBlocks .panelForm .helpMessage .helpTop{background-repeat:no-repeat; background-position:50% 0;}
.JSOFF .twoBlocks .panelForm .helpMessage{background-repeat:no-repeat; background-position:50% bottom;}
.twoBlocks .panelForm .highlight .helpMessage .helpTop{background-repeat:no-repeat; background-position:9px 0;}
.twoBlocks .panelForm .error .helpMessage .helpTop{background-repeat:no-repeat; background-position:9px -7px;}
.twoBlocks .panelForm .highlight .helpMessage{background-repeat:no-repeat; background-position:9px bottom;}
.twoBlocks .panelForm .error .helpMessage{background-repeat:no-repeat; background-position:9px bottom;}

.error_wrapper{width:502px; margin:0 auto 20px auto !important; padding:0 !important; background-repeat:no-repeat;}
.error_wrapper p{height:100%; padding:15px 15px 20px !important; background-repeat:no-repeat; background-position:0 100%; font-size:1.1em;}

.highlight .helpIcon{white-space:nowrap;}
.highlight .helpIcon, .error .errorMessage, .error .errorIcon, .ok .OKIcon{display:block;}
.error .OKIcon{display:none !important;}
.OKIcon, .OKIcon:focus, .OKIcon:hover, .OKIcon.focus{background-position:0 -22px !important;}
.errorIcon, .errorIcon:focus, .errorIcon:hover, .errorIcon.focus{background-position:0 -44px !important;}

.errorHelp{float:right; margin-bottom:10px; margin-right:30px; font-size:0.9em;}
.error .helpMessage{display:none;}

/* form elements highlight */
.formInputs li.highlight, .home .formInputs li.highlight{background-repeat:no-repeat; background-position:0 bottom;}
.highlight .formElTop{background-repeat:no-repeat; background-position:0 0;}
.twoBlocks .formInputs li.highlight{background-repeat:no-repeat; background-position:0 bottom;}
.twoBlocks .highlight .formElTop{background-repeat:no-repeat;}

#paymentSchedule, .twoBlocks .panelForm{font-size:1.2em;}
.twoBlocks .panelForm h3, #paymentSchedule h3, .formSection .panelForm .formInputs li{font-size:1em;}
.twoBlocks .panelForm .formInputs li.highlight{background-repeat:no-repeat; background-position:0 bottom;}
.twoBlocks .panelForm .highlight .formElTop{background-repeat:no-repeat;}

/* form elements error */
.formInputs li.error, .home .formInputs li.error{background-repeat:no-repeat; background-position:0 bottom;}
.twoBlocks .formInputs li.error{background-repeat:no-repeat; background-position:0 bottom;}
.twoBlocks .panelForm .formInputs li.error{background-repeat:no-repeat; background-position:0 bottom;}
.error .formElTop, .home .error .formElTop{background-repeat:no-repeat; left:0px; background-position:0 0;}
.twoBlocks .error .formElTop{background-repeat:no-repeat; left:0px;}
.twoBlocks .panelForm .error .formElTop{background-repeat:no-repeat; left:0px;}
.server-validation ul, .server-validation ol{padding:0 38px 15px 80px; font-size:1.2em;}
.server-validation{font-weight:bold}
.server-validation li{background-repeat:no-repeat; background-position:0 1px; padding-left:20px; margin-bottom:5px;}

.staticError p{font-weight:bold; font-size:1.4em;}

/* wrappers */
#block1 .wrapper1, #block3 .wrapper1, #block1 .wrapper2, #block3 .wrapper2, #block3 .wrapper3{margin-bottom:6px;}
#block1 .wrapperA, #block3 .wrapperA , .home .threeBlocks .wrapper2 .wrapperA{background-repeat:no-repeat; background-position:50% 0; height:7px;}
#block1 .wrapper2 .wrapperA, #block3 .wrapper2 .wrapperA, .home #block3 .wrapper1 .wrapperA{background-repeat:no-repeat; background-position:50% 0; height:auto;}
.home #block3 .wrapper1 .wrapperA, .home .threeBlocks .wrapper1 .wrapperA , .home .threeBlocks .wrapper3 .wrapperA{background-repeat:no-repeat; background-position:50% 0; height:25px;}
#block1 .wrapper2 .wrapperA h2, #block3 .wrapper2 .wrapperA h2, .home #block3 .wrapper1 .wrapperA h2, .home .threeBlocks .wrapper1 .wrapperA h2, .home .threeBlocks .wrapper3 .wrapperA h2{font-size:1.2em; padding:5px 0 5px 12px; font-weight:bold;}
.home .threeBlocks .wrapper1 .wrapperB{padding:8px 25px 0; min-height:147px;}
.home .threeBlocks .wrapper2 .wrapperB{min-height:187px;}
.safari .home .threeBlocks .wrapper2 .wrapperB{height:192px;}
.opera .home .threeBlocks .wrapper2 .wrapperB{height:177px;}
.home .threeBlocks .wrapper3 .wrapperB{min-height:158px;}
.safari .home .threeBlocks .wrapper3 .wrapperB{height:173px;}
.opera .home .threeBlocks .wrapper3 .wrapperB{height:157px;}
.home #block3 .wrapper1 .wrapperA h2, .home .threeBlocks .wrapper1 .wrapperA h2, .home .threeBlocks .wrapper2 .wrapperA h2, .home .threeBlocks .wrapper3 .wrapperA h2{font-size:1.3em; padding:5px 0 0 12px;}
.home .threeBlocks .wrapper1 .wrapperA h2{padding-left:25px;}
.home .threeBlocks .wrapper2 h2, .home .threeBlocks .wrapper3 h2{font-size:1.3em; padding:0 0 12px; font-weight:bold;}
.home #block3 .wrapperInner h3, .home .threeBlocks .wrapperB h3{font-size:1em; font-weight:bold; line-height:1.2em; margin:0 0 10px;}
.home .threeBlocks .wrapper3 .wrapperB h3{padding-top:8px;}
#block1 .wrapperB, #block3 .wrapperB, .threeBlocks .wrapperB{background-repeat:repeat-y; background-position:50% 0; padding:0 12px; overflow:visible;}
.threeBlocks .wrapper1 .wrapperB{padding:0;}
#block1 .wrapperB, .threeBlocks .wrapperB{overflow:visible;}
.brochure #block1 .wrapperB, #block3 .wrapperB{padding-top:6px; padding-bottom:4px;}
#block3 .wrapperB{padding-bottom:4px;}
#block3 .wrapper1 .wrapperB{padding-top:0;}
#block1 .wrapperC, #block3 .wrapperC, .threeBlocks .wrapperC{background-repeat:no-repeat; background-position:50% bottom; height:6px;}

#block1 .wrapperInner h2, #block1 .wrapperInner .quoteclause h3, #block3 .wrapperInner h2{font-size:1.2em; padding:10px 0 13px 0; font-weight:bold; background-repeat:no-repeat; background-position:0 bottom; margin-bottom:16px;}
#block1 .wrapperInner p, #block3 .wrapperInner p, .brochure #block3 .wrapperInner p{font-size:1.1em; margin:14px 0 0; padding-bottom:3px; line-height:1.2em;}
#block1 .quoteclause li, #block1 .wrapperInner p{padding-bottom:8px;}
#block1 .promoPanel .wrapperInner p, .brochure #block1 .promoPanel .wrapperInner p, #block3 .promoPanel .wrapperInner p{font-size:1.2em; font-weight:bold; margin-top:0;}
.brochure #block1 .wrapperInner p, #block3 .wrapperInner p{margin:7px 0 0;}
#block1 .wrapperInner p, #block1 .wrapperInner dl dt, #block1 .wrapperInner dl dd, #block1 .wrapperInner li,
#block3 .wrapperInner p, #block3 .wrapperInner dl dt, #block3 .wrapperInner dl dd, #block3 .wrapperInner li{font-size:1em;}
#block3 .wrapperInner h3, #block1 .wrapperInner h3{font-weight:bold;}
#block3 .wrapperInner h3.middle, #block1 .wrapperInner h3{padding:10px 0 3px;}
#block3 .wrapperInner ul.list{margin-top:6px;}
.home #block3 .wrapperInner ul.list{padding-top:6px; margin-top:0;}


#block3 .wrapper3 .wrapperB{background:0; padding-top:10px;}

#block1 .wrapperInner dl, #block3 .wrapperInner dl{clear:both; border-top:6px solid #fafafa; border-bottom:6px solid #fafafa;}
#block1 .wrapperInner dl span, #block3 .wrapperInner dl span{font-weight:normal;}
#block1 .wrapperInner dl dl, #block3 .wrapperInner dl dl{border:0}
#block1 .wrapperInner dt, #block3 .wrapperInner dt{padding-right:3px; padding-bottom:0;}

#block1 .wrapperInner dt, #block3 .wrapperInner dt{font-weight:bold; font-size:1.1em; padding-bottom:1px; display:block; float:left; line-height:1.2em;}
#block1 .wrapperInner dd, #block3 .wrapperInner dd{font-size:1.1em; display:block; float:left; line-height:1.2em; line-height:1.2em;}
#block1 .wrapperInner dd .address, #block3 .wrapperInner dd .address{width:100px;}
#block1 .wrapperInner dd .address span, #block3 .wrapperInner dd .address span{display:block;}
#block1 .wrapperInner dd dd, #block1 .wrapperInner dt dt{padding-bottom:0;}
#block1 .wrapperInner dl dd dl dd, #block1 .wrapperInner dl dd dl dt{font-weight:normal !important; padding:0 3px 0 0; background:0; font-size:1em; margin-top:4px;}

#block1 .wrapperInner .excess dt, #block3 .wrapperInner .excess dt{width:100px;}
#block1 .wrapperInner .excess dd, #block3 .wrapperInner .excess dd{float:right;}

.home #block3{padding:0 0 0 12px;}

#block1 .mta-left .wrapperA{display:none;}
#block1 .mta-left .wrapperC{clear:both;}
#block1 .mta-left .wrapperB{background-position:0 0; padding:0; background-repeat:no-repeat;}
#block1 .mta-left .wrapperB li{background-repeat:no-repeat; clear:both; background-position:0 -1px;}
#block1 .mta-left .wrapperB li li{height:23px; clear:both;}
#block1 .mta-left .wrapperInner h2{background:0 !important; padding:6px 0 0 12px; height:18px; margin-bottom:0; text-align:left;}
#block1 .mta-left .wrapperB li a{padding:6px 0 0 36px; display:block; height:17px; font-weight:bold; text-decoration:none; clear:both;}
#block1 .mta-left .wrapperB li a:focus, #block1 .mta-left .wrapperB li a:hover, #block1 .mta-left .wrapperB li a.focus, #block1 .mta-left .wrapperB li input:focus, #block1 .mta-left .wrapperB li input:hover, #block1 .mta-left .wrapperB li input.focus{text-decoration:underline;}
#block1 .mta-left .wrapperB li.on{background-repeat:no-repeat;}
#block1 .mta-left .wrapperB li input{font-size:1em; font-family:Arial; font-weight:bold; border:0; height:23px; padding:1px 0 2px 30px; width:100%; text-align:left; cursor:pointer; float:left;}

#block1 .mta-left ul.policies,
#block1 .mta-left ul.policies .wrapperB, #block1 .mta-left ul.policies li.on,
#block1 .mta-left ul.policies .wrapperB li,
#block1 .mta-left .wrapperB ul.policies li,
#block1 .mta-left .wrapperB ul.policies,
#block1 .mta-left ul.policies .wrapperB li .wrapperC
	{background:0;}

#block1 .divider{width:209px; border-top:2px solid; margin:18px -42px 7px -10px; position:relative; }

#block1 .mta-left .wrapperB li.on input{text-decoration:underline;}
#block1 .mta-left .wrapperB ul.policies li.on input{text-decoration:none;}
#block1 .mta-left .wrapperB li input{background-attachment:scroll; background-position:12px 8px; background-repeat:no-repeat; text-decoration:none;}
#block1 .mta-left .wrapperB li.on input:focus, #block1 .mta-left .wrapperB li.on input:hover, #block1 .mta-left .wrapperB li.on input.focus,
#block1 .mta-left .wrapperB li.on li input:focus, #block1 .mta-left .wrapperB li.on li input:hover, #block1 .mta-left .wrapperB li.on li input.focus
	{text-decoration:underline;}

#block1 .mta-left ul.policies .wrapperB{width:100%; margin:0;}
#block1 .mta-left ul.policies .wrapperA{background-repeat:no-repeat; background-position:0 100%;}
#block1 .mta-left ul.policies .wrapperC{background-repeat:no-repeat; background-position:0 0; overflow:hidden; height:8px;}

#block1 .mta-left ul.policies .wrapperB span.noClassNecessary span{display:block; font-weight:bold; font-size:1.2em; padding-left:12px; clear:both;}

#block1 .mta-left ul.policies li{cursor:pointer;}

#block1 .mta-left ul.policies li:hover .wrapperB input.vehicle, #block1 .mta-left ul.policies li.focus .wrapperB input.vehicle, #block1 .mta-left ul.policies li .wrapperB input.vehicle:focus{text-decoration:underline;}


.JSOFF #block1 .mta-left ul.policies .wrapperB{cursor:default;}

#block1 .mta-left ul.policies .wrapperB input.vehicle{background-attachment:scroll; background-position:157px -69px; background-repeat:no-repeat; height:23px; font-size:1.2em; font-weight:bold;}
#block1 .mta-left ul.policies li.on .wrapperB input.vehicle{background-position:157px -44px; margin-bottom:2px;}

#block1 .mta-left ul.policies .wrapperB span.noClassNecessary  span.renewal{background-attachment:scroll; background-position:157px -23px; background-repeat:no-repeat; font-size:0.9em; height:17px; padding-top:7px;}
#block1 .mta-left ul.policies li.on .wrapperB span.noClassNecessary  span.renewal{background-position:157px 0;}

#block1 .mta-left ul.policies li .wrapperA{display:block; background-position:0 100%; height:12px; margin-bottom:0;}
#block1 .mta-left ul.policies li .wrapperB a, #block1 .mta-left ul.policies li .wrapperB input{padding:0 0 0 9px; height:auto; font-weight:normal;}
#block1 .mta-left ul.policies li .wrapperB a{padding:0 0 0 14px;}
#block1 .mta-left ul.policies li .wrapperB a{text-decoration:underline;}
#block1 .mta-left ul.policies li.focus .wrapperB a{text-decoration:none;}

#block1 .mta-left ul.policies li .wrapperB input.on{text-decoration:underline; background-position:12px 4px; background-attachment:scroll; background-repeat:no-repeat;}

#block1 .mta-left ul.policies li.on .wrapperA{display:block; background-attachment:scroll; background-position:0 100%; background-repeat:no-repeat; height:10px;}
#block1 .mta-left ul.policies li.on .wrapperC{display:block; background-attachment:scroll; background-position:0 0; background-repeat:no-repeat; }

#block1 .mta-left ul.policies li.on .wrapperB, #block1 .mta-left ul.policies li.on:hover .wrapperB, #block1 .mta-left ul.policies li.on:focus .wrapperB, #block1 .mta-left ul.policies li.focus.on .wrapperB{background-image:none;}


#block1 .mta-left ul.policies li ul{padding-top:6px; margin-top:4px;}
#block1 .mta-left ul.policies li li{clear:both; border:0; background-attachment:scroll; background-position:0 0; background-repeat:repeat-y; width:184px;}
#block1 .mta-left ul.policies li li input, #block1 .mta-left ul.policies li.on li input{padding:0 0 0 30px; font-weight:normal; width:184px; height:auto; background-image:none;}

#block2 .wrapperA{background-repeat:no-repeat;}
.twoBlocks #block2 .wrapperA{background-repeat:no-repeat; background-position:0 0;}
.home .twoBlocks #block2 .wrapperA{background-repeat:no-repeat; height:10px}
.brochure .twoBlocks #block2 .wrapperA{background-repeat:no-repeat; background-position:-13px 0;}
#block2 .wrapperA h2, #block2 .wrapperA h1{font-size:2.1em; padding:9px 37px 8px 37px;}
.brochure .twoBlocks #block2 .wrapperA h2{padding:9px 0 0 20px;}
#block2 .wrapperB{background-repeat:repeat-y; padding-bottom:0;}
.twoBlocks #block2 .wrapperB{background-repeat:repeat-y; background-position:13px 0; padding-bottom:0;}
.brochure .twoBlocks #block2 .wrapperB, .brochure .twoBlocks #block2 .wrapperC{background-position:0 100%;}
.home .twoBlocks #block2 .wrapperB{background-repeat:repeat-y; background-position:0 bottom; padding:5px 20px;}
.brochure .twoBlocks #block2 .wrapperB{background-repeat:repeat-y; padding:5px 30px 10px 20px;}
.twoBlocks #block2.iFrame .wrapperB{padding-bottom:0;}
#block2 .wrapperC{background-repeat:no-repeat; height:6px; font-size:1px;}
.twoBlocks #block2 .wrapperC{background-repeat:no-repeat; background-position:13px bottom; height:6px; overflow:hidden;}
.home .twoBlocks #block2 .wrapperC{display:none;}
.brochure .twoBlocks #block2 .wrapperC{background-repeat:no-repeat;}

#block3 .wrapper2 .wrapperB em{font-weight:bold; font-style:normal;}

.home .twoBlocks #block2 .wrapperB h2{font-size:3em;}
.home .twoBlocks #block2 .wrapperB p{width:300px; margin:15px 0; font-size:1.1em;}
.home .twoBlocks #block2 .wrapperB ul{width:300px;}
.home .twoBlocks #block2 .wrapperB li{font-weight:bold; padding-left:16px; font-size:1em; line-height:1em;}

#popupMain h2{padding-left:30px !important;}
#popupMain .formSection{background:0;}
#popupMain #block2{width:513px;}
#popupMain .wrapperA{background-repeat:no-repeat; background-position:17px 0;}
#popupMain .wrapperB{background-repeat:repeat-y; padding-bottom:2px;}
#popupMain .wrapperC{background-repeat:repeat-y;}

.wrapper-3, .wrapper-4, .wrapper-5, .wrapper-6{margin:0 auto 10px; width:500px;}
.wrapper-3 p, .wrapper-4 p, .wrapper-5 p, .currentDetails p{font-size:1.1em; line-height:1.4em; padding:5px 10px;}
.wrapper-3 p{width:290px; float:left;}
.wrapper-4, .wrapper-5{background-repeat:repeat-y; background-position:0 bottom; padding-bottom:5px;}
.wrapper-4 h3{background-repeat:no-repeat; font-size:1.2em; font-weight:bold; height:20px; padding:6px 0 2px 10px;}
.wrapper-5 ul{margin:5px 20px;}
.wrapper-5 h3{background-repeat:no-repeat; font-size:1.2em; font-weight:bold; height:20px; padding:6px 0 2px 10px;}
.wrapper-6 p{font-size:1.1em; line-height:1.4em; margin-bottom:10px;}
.wrapper-6 span.button-09{width:260px; margin:10px 0px 15px 0;}
.wrapper-6 span.button-09 input{width:255px;}

.threeBlocks{clear:both;}
.threeBlocks .wrapper1, .threeBlocks .wrapper2, .threeBlocks .wrapper3{float:left; width:295px;}
.threeBlocks .wrapper1{width:354px;}

.cancelCustomise, .cancelCustomiseHighlight{float:right; margin-right:19px;}

/* buttons */
.viewFullDetails input, .amendDetails input, .changeVehicle input, .manualVehicleEntry input, .addressNotListed input, .cancelCustomiseHighlight input, .cancelCustomise input, .switchPrices input, .customiseYourOwn input
{text-decoration:underline;}
.viewFullDetails input, .amendDetails input, .changeVehicle input, .manualVehicleEntry input, .addressNotListed input, .on .packageD input, .cancelCustomise input, .cancelCustomiseHighlight input, .switchPrices input, .customiseYourOwn input{border:0; cursor:pointer; font-size:1em; overflow:visible; margin:0 !important; padding:0;}
.on .packageD input{font-size:1.1em;}
.headerButtons .switchPrices input{text-decoration:none;}
#block1 .buttons input, #block3 .buttons input{text-decoration:none; width:100%; padding:1px 0 5px 0; font-size:1.2em; cursor:pointer; margin-top:3px; background-repeat:no-repeat; font-family:Arial,Verdana,Georgia,Times;}
#block1 .buttons input, #block3 .buttons input{font-size:1em; padding-top:2px;}
#block1 .buttons input:hover, #block1 .buttons input:focus, #block1 .buttons input.focus,
#block3 .buttons input:hover, #block3 .buttons input:focus, #block3 .buttons input.focus{text-decoration:underline;}
.addressNotListed input{font-size:0.9em; width:200px; float:right;}
.on .packageD input{float:right; padding-right:6px;}

.viewFullDetails input:hover, .viewFullDetails input:focus, .viewFullDetails input.focus,
.amendDetails input:hover, .amendDetails input:focus, .amendDetails input.focus,
.addressNotListed input:hover, .addressNotListed input:focus, .addressNotListed input.focus,
.changeVehicle input:hover, .changeVehicle input:focus, .changeVehicle input.focus,
.manualVehicleEntry input:hover, .manualVehicleEntry input:focus, .manualVehicleEntry input.focus,
.cancelCustomise input:hover, .cancelCustomise input:focus, .cancelCustomise input.focus,
.cancelCustomiseHighlight input:hover, .cancelCustomiseHighlight input:focus, .cancelCustomiseHighlight input.focus,
	{background-position:0 0; text-decoration:none;}
.switchPrices input:hover, .switchPrices input:focus, .switchPrices input.focus{text-decoration:none;}

.switchPrices input, .grey-panel-footer span.switchPrices input{float:right; padding-top:5px; padding-right:16px;}
.renewal .grey-panel-footer span.switchPrices input{padding-right:27px;}
#customise .switchPrices input{margin:20px 10px 0 0 !important;}
.cancelCustomise input, .cancelCustomiseHighlight input{float:right; width:208px; padding-top:5px; margin:5px 0 10px 16px !important;}
.changeVehicle input, .manualVehicleEntry input{font-size:0.85em !important; float:left;}

.buttons{clear:both; padding-top:3px; margin-top:10px; overflow:auto;}
#block1 .wrapperInner .buttons{padding-bottom:5px;}
#block3 .wrapperInner .buttons{padding-bottom:1px;}
#block1 .wrapperInner span.button-04, #block3 .wrapperInner span.button-04{margin-bottom:2px;}
#block1 .wrapperInner .buttons .amendDetails input, #block3 .wrapperInner .buttons .amendDetails input{float:right; padding-bottom:12px;}
#block1 .wrapperInner .buttons .amendDetails input#paymentViewNPrintDetails{padding-bottom:5px;}
#block1 .wrapperInner h2 .amendDetails input, #block1 .wrapperInner h2 .viewFullDetails input,
#block3 .wrapperInner h2 .amendDetails input, #block3 .wrapperInner h2 .viewFullDetails input
{font-size:0.85em; float:right;}
#block1 .wrapperInner .buttons .viewFullDetails input, #block3 .wrapperInner .buttons .viewFullDetails input{float:left;}

h4.claim{display:inline-block;}

span.button-01 input,
span.button-01a input,
span.button-01b input,
span.button-01c input,
span.button-02 input,
span.button-03 input,
span.button-04 input, span.button_04 input,
span.button-05 input,
span.button-06 input, span.button-06a input, span.button-06b input, span.button-06c input,
span.button-07 input,
span.button-08 input,
span.button-09 input, span.button-09a input,
span.button-10 input,
span.button-11a input, span.button-11b input,
span.button-12 input
	{font-family:Arial,Verdana,Georgia,Times; cursor:pointer;}

span.button-01, span.button-01a, span.button-01b, span.button-01c, span.button-03, span.button-06, span.button-06c, span.button-06a , span.button-09, span.button-09a{display:block; padding:0;}
span.button-01 input, span.button-01 a, span.button-01a input, span.button-01b input, span.button-01c input, span.button-03 input, span.button-09 input, span.button-09a input{text-align:left; margin:0 0 0 4px; border:0; cursor:pointer;}

.addOnUpdatePremiumButton{float:right; margin:-20px 38px 20px 0;}
.JSOFF .addOnUpdatePremiumButton{margin:0px 40px 20px 0;}
.addOnUpdatePremiumButton span.button-04 input{font-size:1.2em;}

span.button-01, span.button-01b, span.button-01c, span.button-09, span.button-09a{background-repeat:no-repeat; height:31px; margin:0 37px 16px 0; width:176px; float:right;}
.panel-725-submit span.button-01, .panel-725-submit span.button-01b, .panel-725-submit span.button-01c, .panel-725-submit span.button-09, .panel-725-submit span.button-09a{margin:0 0 22px 5px;}
.panel-725-submit span.button-01, .panel-725-submit span.button-01b, .panel-725-submit span.button-01c{margin-bottom:0;}
span.button-01 input, span.button-01b input, span.button-01c input, span.button-01 a, span.button-09 input, span.button-09a input{background-repeat:no-repeat; background-position:100% 0; width:172px; height:31px; border:0px; padding:0 0 2px 6px; font-size:1.65em; cursor:pointer;}
span.button-01 a{display:block; width:201px; height:26px; padding:5px 0 0 6px;}
.home span.button-01{margin:20px 0 10px 0; float:none;}
.home span.button-01 a{text-decoration:none;}
.home span.button-01 a.focus{text-decoration:underline;}
span.button-09{width:224px;}
span.button-09 input{width:238px;}
span.button-09a{width:267px;}
span.button-09a input{width:262px;}
#nojsPaymentButton span.button-09{width:254px;}
#nojsPaymentButton span.button-09 input{width:250px;}
#nojsPaymentButton .grey-panel p{padding-bottom:10px;}

span.button-01a{background-repeat:no-repeat; height:31px; margin:0 10px 10px 0; width:226px; float:right;}
span.button-01a input{background-repeat:no-repeat; background-position:100% 0; width:222px; height:31px; border:0px; padding:0 0 4px 6px; font-size:1.65em; cursor:pointer;}
span.button-01a input:hover, span.button-01a input:focus, span.button-01a input.focus{text-decoration:underline; background-position:100% 0 !important;}

span.button-01b{width:240px;}
span.button-01b input{width:234px;}

span.button-01c{width:276px;}
span.button-01c input{width:272px;}

span.button-02, span.button-12{background-repeat:no-repeat; background-position:0 -32px; height:56px; margin:-55px 8px 10px 0;}
span.button-02 input, span.button-12 input{background-repeat:no-repeat; background-position:100% -32px; height:56px; border:0; padding:0 0 1px 20px; font-size:1.65em; cursor:pointer; text-align:left; margin-left:4px;}
span.button-12 input{cursor:default;}
span.button-12{background-position:0 -337px;}
span.button-12 input{background-position:100% -362px;}

span.button-02, span.button-12, #quoteSummaryPricePanel span.button-04{margin-right:8px; float:right; width:164px;}
span.button-02 input, span.button-12 input, #quoteSummaryPricePanel span.button-04 input{width:160px; float:right;}

#quoteSummaryPricePanel .grey-panel-footer{padding:15px 16px;}
#quoteSummaryPricePanel .grey-panel-footer .button-02, #quoteSummaryPricePanel .grey-panel-footer .button-04{margin-right:2px;}
#annualPaymentContinuousAuthority #quoteSummaryPricePanel .grey-panel-footer .button-02{margin-top:-48px;}

.grey-panel-footer .total .value{float:left;}

#quoteSummaryPricePanel .panel-725-submit .button-04 input{font-size:1em;}
#quoteSummaryPricePanel .button-06, #quoteSummaryPricePanel .button-06c{margin: 6px 10px 0 0;}
#quoteSummaryPricePanel span.button-02{margin-top:-56px; margin-bottom:5px;}
#quoteSummaryPricePanel .buttons{clear:both; width:468px; margin:0; padding:0;}

#MTAquoteSummaryPricePanel{padding-bottom:20px; overflow:auto;}
#MTAquoteSummaryPricePanel .button-07{width:165px; margin:0 37px 0 0; float:right;}
#MTAquoteSummaryPricePanel .button-07 input{width:161px;}
#MTAquoteSummaryPricePanel .button-06{float:left; margin-bottom:0;}

span.button-03{background-repeat:no-repeat; background-position:0 -89px; height:25px; margin:0 10px 10px 0; width:226px; float:right;}
span.button-03 input{background-repeat:no-repeat; background-position:100% -89px; width:222px; height:25px; border:0px; padding:2px 0 4px 6px; font-size:1.5em; cursor:pointer;}

span.button-04, span.button_04{background-position:0 -115px; background-repeat:no-repeat; padding:0; height:22px; display:inline-block; margin:1px 0 0 0;}
span.button-04 input,span.button_04 input{background-position:100% -115px; background-repeat:no-repeat; height:22px; border:0px; padding:2px 12px 4px 8px; font-size:0.85em; text-align:center; margin:0 0 0 4px; cursor:pointer;}
#retrieveContainer span.button-04, .home span.button-04{float:right; margin-right:97px !important; margin-top:5px !important;}
.flexibleWidthButton span.button-04{margin-right:19px;}

span.button-05{background-position:0 -138px; background-repeat:no-repeat; padding:0; height:22px; display:inline-block; margin:-2px 0 0 0 !important;}
span.button-05 input{background-position:100% -138px; background-repeat:no-repeat; height:22px; border:0px; padding:2px 12px 4px 8px; font-size:1em; text-align:center; margin:0 0 0 4px; cursor:pointer;}

span.button-06, span.button-06c, span.button-06a{background-position:100% -161px; background-repeat:no-repeat; height:25px; width:85px; margin:0 0 19px 37px; width:85px; float:left; cursor:pointer;}
span.button-06 input, span.button-06c input, span.button-06a input{background-position:0 -161px; background-repeat:no-repeat; padding:2px 0 4px 33px; height:25px; width:81px; margin:0 4px 0 0; text-align:left; border:0 !important; cursor:pointer;}
.twoBlocks span.button-06, .twoBlocks span.button-06c{margin:0 0 19px 39px;}

span.button-06a, span.button-06c{width:176px;}
span.button-06a input, span.button-06c input{width:172px; cursor:pointer;}

span.button-06b{background-repeat:no-repeat; background-position:0 -89px; padding:0; height:25px; display:inline-block;}
span.button-06b input{background-repeat:no-repeat; background-position:100% -290px; height:25px; border:0px; padding:2px 22px 4px 18px; font-size:1em; text-align:center; margin:0 0 0 4px; cursor:pointer; font-weight:bold; font-size:1.2em;}
span.button-06b.main{margin:0 0 0 20px;}
span.button-06b.main input{overflow:visible; padding-left:14px; padding-right:14px;}

span.button-07{background-repeat:no-repeat; background-position:0 -186px; display:block; margin-top:10px;}
span.button-07 input{margin:0 0 0 4px; background-repeat:no-repeat; background-position:100% -186px; height:39px; border:0; padding:0 38px 2px 4px; font-size:1.4em;}
#block1 span.button-07{margin-bottom:6px;}
#block1 span.button-07 input{width:158px;}

span.button-08{background-repeat:no-repeat; background-position:0 -226px; display:block; margin:10px 30px 0 0; float:right;}
span.button-08 input{margin:0 0 0 4px; background-repeat:no-repeat; background-position:100% -226px; height:31px; border:0; padding:0 18px 2px 14px; font-size:1.4em; font-weight:bold;}

span.button-10{background-repeat:no-repeat; background-position:0 -258px; display:block; margin:10px 30px 10px 0; float:right;}
span.button-10 input{margin:0 0 0 4px; background-repeat:no-repeat; background-position:100% -258px; height:31px; border:0; padding:0 18px 2px 14px; font-size:1.4em; font-weight:bold;}

span.button-11a{background-repeat:no-repeat; background-position:100% -312px; display:block;}
span.button-11a input{margin:0 4px 0 0; background-repeat:no-repeat; background-position:0 -339px; height:22px; border:0; padding:0 6px 2px 22px; font-weight:bold;}
span.button-11b{background-repeat:no-repeat; background-position:0 -289px; display:block;}
span.button-11b input{margin:0 0 0 4px; background-repeat:no-repeat; background-position:100% -316px; height:22px; border:0; padding:0 22px 2px 6px; font-weight:bold;}

#block1 span.button-01, #block3 span.button-01{float:none; margin:10px 0 0; width:161px;}
#block1 span.button-01 a, #block3 span.button-01 a{width:151px; text-decoration:none;}
#block1 span.button-01 a:hover, #block1 span.button-01 a:focus, #block1 span.button-01 a.focus, #block3 span.button-01 a:hover, #block3 span.button-01 a:focus, #block3 span.button-01 a.focus{text-decoration:underline;}

#block3 span.button-04 input{width:160px;}


.mta .submit-buttons{0;}
.mta .submit-buttons span input{font-size:1.2em;}
.mta .submit-buttons span{float:left; margin:10px 30px 10px 37px;}
.mta .submit-buttons span.main{float:right; margin:10px 36px 10px 0 !important;}

.wrapperOverlayContent span.button-01{float:left; margin:0; width:220px;}
.wrapperOverlayContent span.button-01 input{width:215px;}
.wrapperOverlayContent span.button-03{float:left; margin:10px 0; width:220px;}
.wrapperOverlayContent span.button-03 input{width:215px; font-size:1.3em;}
.wrapperOverlayContent span.button-01{float:left; margin:0; width:220px;}
.wrapperOverlayContent span.button-01 input{width:215px;}
.wrapperOverlayContent span.button-03{float:left; margin:10px 0; width:220px;}
.wrapperOverlayContent span.button-03 input{width:215px; font-size:1.3em;}

.autocomplete-style input, .dob-style input{font-style:italic;}
.dateOfBirth input, input.dob{width:79px; text-align:left;}

.updateDep{display:none !important; visibility:hidden;}
.JSOFF .updateDep{display:inline-block !important; visibility:visible;}
.JSOFF .excessMin, .JSOFF .excessMax{display:none;}

p.vehicleDetails{padding:0 !important; font-weight:bold;}