/*RSA Stylesheet */



a, a abbr, .href input, a label{color:#406b71;}
input, select{border-color:#797979;}

.href input{background-color:transparent;}

#pageNavigation li ol{background-color:#ffffff;}

.formSection a label{color:#C20097;}

.twoBlocks .grey-panel h3, .renewal .grey-panel-4 h3, .twoBlocks .panel-7A h3, .twoBlocks .panel-9A h3, .twoBlocks .panel-10A h3, .twoBlocks .panel-8A h3, #customise table tr.h3, #customiseBundle h3, #customiseBundle_a h3{color:#ffffff;}
.twoBlocks .grey-panel-2 h3{color:#3C3C3C;}

.panel-7A, .panel-7B, .panel-7C{background-color:transparent;}
.panel-8A, .panel-8B, .panel-8C{background-color:transparent;}
.panel-9A, .panel-9B, .panel-9C{background-color:transparent;}
.panel-10A, .panel-10B, .panel-10C{background-color:transparent;}

.panel-3B #customise a{color:#406b71;}

#legal{color:#444c4c;}

.loggedIn div, .loggedIn input, .loggedIn{color:#ffffff;}

.required-fields{color:#5A2D7F;}
.emailConfirmation, .price{color:#C20097 !important;}
a.list, .list a{color:#406b71;}

.formSection h3, .formSection h3 span, .formSection h4, .formSection h5, .formSection h6, .loadingHeader{color:#5A2D7F;}
.brochure h3{color:#5A2D7F;}
.formSection .formInputs li .rightCol p, .grey-panel .formInputs li .rightCol p{color:#5A2D7F;}

.package .helpIcon{color:#ffffff;}
.on .helpIcon{color:#C20097;}

.server-validation p, .server-validation li, .note, .note a, .staticError p{color:#db0d0d !important;}

#block1 .wrapper2 .wrapperA, #block3 .wrapper2 .wrapperA, .home #block3 .wrapper1 .wrapperA{background-color:#421f67;}
.home #block3 .wrapper1 .wrapperA, .home .threeBlocks .wrapper1 .wrapperA , .home .threeBlocks .wrapper3 .wrapperA{background-color:#ffffff;}

#block1 .wrapper2 .wrapperA h2, #block3 .wrapper2 .wrapperA h2, .home #block3 .wrapper1 .wrapperA h2, .home .threeBlocks .wrapper1 .wrapperA h2, .home .threeBlocks .wrapper3 .wrapperA h2{color:#ffffff;}

.home .threeBlocks .wrapper2 h2, .home .threeBlocks .wrapper3 h2{color:#5A2D7F;}

#block1 .wrapperInner h2, #block1 .wrapperInner .quoteclause h3, #block3 .wrapperInner h2{color:#5A2D7F;}
#block1 .mta-left .wrapperInner h2{color:#ffffff;}
#block1 .promoPanel .wrapperInner p, .brochure #block1 .promoPanel .wrapperInner p, #block3 .promoPanel .wrapperInner p{color:#5A2D7F;}

#block1 .mta-left .wrapperB li.on a, #block1 .mta-left .wrapperB li.on input{color:#406b71;}

#block1 .mta-left .wrapperB li.on li a, #block1 .mta-left .wrapperB li a, #block1 .mta-left .wrapperB li input,
#block1 .mta-left ul.policies li li input, #block1 .mta-left ul.policies li.on li input {color:#406b71;}

#block1 .mta-left ul.policies .wrapperB span.noClassNecessary span, #block1 .mta-left ul.policies .wrapperB span.noClassNecessary input{color:#5A2D7F;}

#block1 .mta-left .wrapperB li input{background-color:transparent;}

#block1 .divider{border-top-color:#b40084;}


#block2 .wrapperA h2, #block2 .wrapperA h1{color:#ffffff;}

.home .twoBlocks #block2 .wrapperB h2{color:#5A2D7F;}

.wrapper-4 h3{color:#FFFFFF;}
.wrapper-5 ul li{color:#442069;}
.wrapper-5 h3{color:#FFFFFF;}
.viewFullDetails input, .amendDetails input, .changeVehicle input, .manualVehicleEntry input, .addressNotListed input, .on .packageD input, .cancelCustomise input, .cancelCustomiseHighlight input, .customiseYourOwn input{background-color:transparent; color:#C20097;}
h2 .amendDetails input, h2 .viewFullDetails input, .addressNotListed input, .manualVehicleEntry input, .changeVehicle input, .cancelCustomise input, .cancelCustomiseHighlight input{color:#406b71;}
.twoBlocks #block2 .panelForm .infoLinks ul.list li a {color:#406b71;}
.switchPrices input{color:#406b71 !important;}
.premiumPanel .switchPrices input{color:#ffffff !important;}

span.button-01 input, span.button-01 a, span.button-01a input, span.button-01b input, span.button-01c input,
span.button-02 input,
span.button-03 input,
span.button-05 input,
span.button-06 input, span.button-06a input, span.button-06b input, span.button-06c input,
span.button-07 input,
span.button-08 input,
span.button-09 input, span.button-09a input,
span.button-11a input, span.button-11b input,
span.button-12 input
	{color:#ffffff;}

span.button-04 input, span.button_04 input
	{color:#B40084;}

.autocomplete-style input{color:#3C3C3C;}
.dob-style input{color:#aaaaaa;}

.packageA li a{color:#406b71;}

#packages .package span.info a{color:#ffffff;}
#packages .packageC span{color:#b40084;}
#packages .on .packageC span{color:#ffffff;}
#packages li h4 span{color:#ffffff;}
#packages li.on h4 span{color:#5A2D7F;}

.quote_values th, .quote_values h3, .quote_values td, .quote_values td span.period, .quote_values div.total span.period, .quote_values div.total span.decimals, .quote_values td span.value, .quote_values td span.decimals,
.confirmation-premium-price th, .confirmation-premium-price td, .confirmation-premium-price td span.decimals, .confirmation-premium-price td span.period,
table.instalments td.amount,
.panel-725-submit p.currency,
.iframe .quote_values.directDebit span.period,
#customise table td.option span.total, #customiseAddOn table td.option span.total, #customise table td.price span.total, #customiseAddOn table td.price span.total
	{color:#5A2D7F;}

.brandPanel p, .brandPanelDynamic p{color:#5A2D7F;}
.brandPanelDynamic p{background-color:#fafafa;}
.brandPanel .addOnList ol li a{color:#000000;}
.premiumDetails span{color:#5A2D7F;}
.apr_data, .apr_data span{color:#5A2D7F;}

#customise table tr td.price, #customise table tr td.price span, #customise table tr td.price span,
#customiseAddOn table tr td.price, #customiseAddOn table tr td.price span, #customiseAddOn table tr td.price span,
.JSOFF .mta .option-price span.subtotal, .JSOFF .mta .option-price span.subtotal span,
.JSOFF .renewal .option-price span.subtotal, .JSOFF .renewal .option-price span.subtotal span
{color:#5A2D7F !important;}


.JSOFF .mta #customise table td.option-price .option-price a, .JSOFF .renewal #customise table td.option-price .option-price a{color:#406B71;}

#customise table tr.h3 th, #customiseAddOn table tr.h3 th{color:#ffffff; background-color:transparent;}

#customise table td.option a, #customise table td.option-price a{color:#3C3C3C;}

.premiumPanel h3, .panelPart h3, .premiumPanel h3 input{color:#ffffff;}
.premiumPanel h3 input{background-color:transparent;}

.paymentPanel h3, .securePanel h3{color:#ffffff;}

.wrapperOverlay h2{color:#5A2D7F;}
.wrapperOverlayContent p span{color:#5A2D7F;}

.verisignBox h3{color:#FFFFFF;}

.print .panel-1A{color:#5A2D7F;}
.print .panel-1B{background-color:#592c7d; color:#ffffff;}
.print .premiumPanel p{color:#5A2D7F;}
.print h2 a.print{color:#ffffff;}
.print .premiumPanel h3 span{color:#ffffff;}

.panel-1B ul li span, .panel-2B ul li span{color:#ffffff;}
.panel-2B{background-color:#592c7d; color:#ffffff;}
.panel-2B span{color:#ffffff;}
.panel-3A h3, .panel-3A h4, .panel-3A p, .panel-3 th.main, .panel-5A p{color:#ffffff;}
.panel-4A h4{color:#5A2D7F;}
.panel-3 table td, .mta table.quick-view th, .mta table.quick-view td, .mta table.quick-view table{border-color:#e5e4dc;}
.panel-4B{background-color:#592c7d;}
.panel-3B a, .panel-6B a{color:#406B71;}
.panel-4B a, .panel-6A h3{color:#ffffff;}
.panel-6B h4{background-color:#EAE1F2;}
.panel-3a .panel-3B dl dd, .panel-3b .panel-3B dl dd{color:#5A2D7F;}
.panel-3b .panel-3B dl dt a{color:#3C3C3C;}
.panel-3b .panel-3B dl dt a.default, .panel-3b .panel-3B dl dt div div a{color:#406B71;}

.wrapper-3 p.policy-details, .currentDetails p.policy-details, .currentDetails p.policy-details span{color:#5A2D7F;}

.grey-panel-footer span.button-05 input.switchPrices input{color:#C20097;}

ul.packageoptions li a, #callCentreOptions li a.option{color:#3C3C3C;}
.panel-1B ul.packageoptions li a, .panel-4B ul.packageoptions li a{color:#ffffff;}

#main .alt1 .grey-panel-footer h3, #main .alt1 .grey-panel-footer p, #main .alt1 .grey-panel-footer p span{color:#5A2D7F !important;}

table.alt1 td span.total{color:#5A2D7F;}

#main .mta p.sml{color:#3C3C3C;}

#priceSummaryBreakdown .panel-3B div, #priceSummaryBreakdown .panel-3B dt, #priceSummaryBreakdown .panel-3B label{color:#5A2D7F;}
#priceSummaryBreakdown .panel-3B label a{color:#406B71;}
#priceSummaryBreakdown .price, #priceSummaryBreakdown .price span, #priceSummaryBreakdown .totals .period{color:#5A2D7F !important;}


.brochure #block2 em{color:#5A2D7F;}
.brochure #block2 p.footnote a{color:#3C3C3C;}
.brochure #block2 ul.downloads .rightCol a{color:#3C3C3C;}

#esriLookContainer .ajaxstyling, #ajax_findVehicle .ajaxstyling{background-color:transparent;}


li.hasChildList .claim_conviction h4 span, li.ajaxInsert h3 span{color:#5A2D7F;}
li.hasChildList .claim_conviction .formElTop{background-color:transparent;}
li.hasChildList .claim_convictionA{background-color:transparent;}
li.hasChildList .claim_convictionB{background-color:transparent;}
li.hasChildList .claim_convictionC{background-color:transparent;}
.formSection li.hasChildList .formInputs li{background-color:transparent;}
li.hasChildList .claim_conviction h4 span.button-remove input, li.ajaxInsert h3 span.button-remove input,
.button-add-another-container span input, .button-add input
{background-color:transparent; }
li.hasChildList .claim_conviction h4 span.button-remove input, li.ajaxInsert h3 span.button-remove input,
span.hideShow  input
	{color:#C20097;}
.button-add-another-container span input, .button-add input{color:#C20097;}
span.hideShow input{background-color:transparent;}

#topPremiumPricesPanel .value{color:#5A2D7F;}
#topPremiumPricesPanel .period, #topPremiumPricesPanel .extraInfo{color:#5A2D7F;}
#topPremiumPricesPanel .value .decimals{color:#5A2D7F;}
#topMonthlyHeader span, #topAnnualHeader span, .haveChosen{color:#ffffff;}

.value{color:#5A2D7F;}

p.vehicleDetails{color:#5A2D7F;}
#block2 .questionInfo{color:#000000;}

#customise table tr td.nobg{background-color:transparent;}

#packages .on .packageD span.button-04 input{background-color:transparent;}

#selected_options, #unselected_options{background-color:#dddddd;}
#options_button{background:#FAFAF7;}
#unselected_options{background-color:transparent;}
#selected_options{background-color:transparent;}
#unselected_options li{background-color:transparent;}
#unselected_options li.multiple{background-color:transparent;}
#unselected_options li li{background-color:transparent;}
#selected_options li{background-color:transparent;}
#selected_options li li{background-color:transparent;}

#unselected_options li .option_container{background-color:transparent;}
#unselected_options li.multiple .option_container{background-color:transparent;}
#unselected_options li .option_container .option_container{background-color:transparent;}
#selected_options li .option_container{background-color:transparent;}
#selected_options li li .option_container{background-color:transparent;}
#unselected_options h2{background-color:transparent; color:#ffffff;}
#selected_options h2{background-color:transparent; color:#ffffff;}
#unselected_options .options_bottom{background-color:transparent;}
#selected_options .options_bottom{background-color:transparent; color:#ffffff;}
#selected_options .options_bottom span{color:#ffffff;}
#MTAcustomiseContainer .manual_confirm {background:#ffffff;}

.option_container .option a{background-color:transparent; color:#406b71 !important;}
.option_container .price{color:#5A2D7F !important;}
.option_container .price span{color:#5A2D7F !important;}

#unselected_options li .option_container .layoutHelper, #unselected_options li.multiple li .option_container .layoutHelper{background-color:transparent;}
#selected_options li .option_container .layoutHelper, #selected_options li.multiple li .option_container .layoutHelper{background-color:transparent; }
#options_buttons{background-color:#F8F6F2;}

/* BT STUFF */
.btScroll{border-top-color:#ffffff;}
.btHeader{background-color:transparent !important; color:#ffffff !important;}
.btScroll h3{border-bottom-color:#5A2D7F !important; color:#5A2D7F !important; background:#ffffff !important;}
.btScroll h4{color:#5A2D7F !important;}

.headerWithPolicyNumberContainer .policyNumberHeader p{color:#ffffff;}


iframe#paymentFrame{background-color:transparent;}

/* incorporated Excess Slider styles */
div.slider{background-color:transparent;}
span.ttContent{color:#b40084 !important;}
.ui-widget-content {color:#ffffff;}
.ui-slider .ui-slider-tooltip {background-color:transparent;}
.ui-slider dt {color:#999999;}
.ui-slider dt span {background-color:transparent;}
.ui-slider li, .ui-slider dd {color:#666666;}

/* POLICY MANAGMENT */
#block1 .mta-left ul.policies li.on .wrapperA, #block1 .mta-left ul.policies li.on:hover .wrapperA,
#block1 .mta-left ul.policies li.on .wrapperC, #block1 .mta-left ul.policies li.on:hover .wrapperC
	{background-color:#ffffff;}
#block1 .mta-left ul.policies li.on .wrapperB span, #block1 .mta-left ul.policies li.on .wrapperB input.vehicle{color:#fff}
#block1 .mta-left ul.policies li .wrapperB{background-color:#ffffff;}
#block1 .mta-left ul.policies li.on .wrapperB,
#block1 .mta-left ul.policies li.on:focus .wrapperB,
#block1 .mta-left ul.policies li.focus.on .wrapperB,
#block1 .mta-left ul.policies li.on:hover .wrapperB
	{background-color:#b40084;}
#block1 .mta-left ul.policies li.on .wrapperB ul{background-color:#ffffff;}
#block1 .mta-left ul.policies li .wrapperB input.on{color:#406b71; background-color:transparent;}
#block1 .mta-left ul.policies .wrapperB input.vehicle{background-color:transparent;}
#block1 .mta-left ul.policies .wrapperB .renewal{background-color:transparent;}
#block1 .mta-left .wrapperB li.on input{background-color:transparent;}
ul.packageoptions li a, #callCentreOptions li a.option{color:#5A2D7F;}
#block2 ul.packageoptions li .wrapperA, #block2 ul.packageoptions li .wrapperB, #block2 ul.packageoptions li .wrapperC{background-color:transparent;}
#block2 ul.packageoptions li .wrapperB .tick{background-color:transparent;}
.licencePlateA{color:#444444;}

#block3 .wrapper2 .wrapperB em{color:#5A2D7F;}

#block3 .promo .wrapperB{background-color:transparent;}
#block3 .promo .wrapperB p{color:#5A2D7F;}

.panel-3b .panel-3B dl dt span.apr{color:#5A2D7F;}
.panel-3B ul.packageoptions li span.price{color:#5A2D7F !important;}

/* autocomplete */
ul.autocomplete{background-color:#ffffff; color:#3C3C3C; border-color:#4a2a73; color:#5A2D7F;}
ul.autocomplete li.selected{background-color: #f7ebff;}
.formSection .formInputs li ul.autocomplete li{background-image:none;}

.btTopHelpContainer, #topHelpLinks li .bt-wrapper a{color:#ffffff;}

#customise table td.price span.total, #customiseAddOn table td.price span.total{border-top:2px solid #5A2D7F; border-bottom:2px solid #5A2D7F;}

.wrapper-3 .mta-summary th, .wrapper-3 .mta-summary .price, .wrapper-3 .mta-summary .decimals, .wrapper-3 .mta-summary .period{color:#5A2D7F !important;}


/* CR */

.layout_annual .option_container .price span.equivalent {color:#AE8FC9 !important;}
.layout_annual .option_container .price span.equivalent em{color:#5A2D7F !important;}
a .injectHref{color:#C20097 !important;}
#priceSummaryBreakdown .panel-3B .apr_help label{color:#3C3C3C;}
#priceSummaryBreakdown .panel-3B .apr_help a{color:#C20097;}

#customise table .total div.total span, #customise table .total div.total p{color:#5a2d7f}

#addOnBundles #packages h4 span{color:#ffffff;}
#addOnBundles #packages .packageD .href input{color:#C20097;}

#packages .packageC .price-info span{color:#5A2D7F !important;}
#customise .equivalent p, #packages .packageC .price-info span.equivalent em, #upSellOverlay .wrapperOverlayB span.equivalent em{color:#5A2D7F;}
#packages .packageC .price-info span.equivalent, #upSellOverlay .wrapperOverlayB span.equivalent{color:#ae8fc9 !important;}
#packages .on .packageC .price-info span{color:#ffffff !important;}
#addOnBundles #packages .on .packageD .href input,  #packages .on .packageC .price-info span.equivalent em, #upSellOverlay .wrapperOverlayB .on span.equivalent em{color:#ffffff;}
.twoBlocks .grey-panel p.equivalent .switchPrices input{color:#C20097 !important;}
a span#insertHref{color:#406B71;}

#upSellOverlay .selected .this_price label span, #upSellOverlay a{color:#C20097;}

#upSellOverlay .wrapperOverlayA h2{color:#ffffff;}
#upSellOverlay .wrapperOverlayB h3{color:#5A2D7F; background-color:#ffffff;}
#upSellOverlay .wrapperOverlayB .this_price span{color:#5A2D7F;}
#upSellOverlay .wrapperOverlayB .this_price span.price, #breakdownCover-options tr.prices span.price{color:#5A2D7F !important;}
#addOnBundles .customiseYourOwn a{color:#C20097;}
p.equivalent .switchPrices a{color:#C20097;}
#breakdownCover-options th.option span, #upSellOverlay.breakdownCover #breakdownCover-options tr.prices .on a span{color:#ffffff}
#breakdownCover-options tr.prices span{color:#5A2D7F;}
#breakdownCover-options tr.prices .on span{color:#ffffff !important;}


.overlay_close .wrapperOverlay .wrapperA .close{color:#FFFFFF !important;}

.addOns_bt_popup_Heading h2{background-color:transparent !important; color:#FFFFFF !important;}

.addOns_bt_popup_Content img{background-color:#ffffff!important;}

.moreCoverOptionsButtonContainer input{color:#ffffff;}

.panel-725-submit .renewals h2{color:#5A2D7F;}

.JSOFF .mta #customise table tr.chosen td.option, .JSOFF .renewal #customise table tr.chosen td.option{background-color:#F4ECFC;}
.JSOFF .mta #customise table td, .JSOFF .renewal #customise table td {border-bottom:0 none;}

.brochure h4 a, .brochure h5 a, .brochure h6 a{color:#5A2D7F;}