/*RSA Stylesheet */



.mta .submit-buttons span input{font-size:1.2em;}
.mta .submit-buttons span{float:left; margin:0 30px 10px 37px;}
.mta .submit-buttons span.main{float:right; margin:0 36px 10px 0 !important;}

.wrapperOverlayContent span.button-01{float:left; margin:0; width:220px;}
.wrapperOverlayContent span.button-01 input{width:215px;}
.wrapperOverlayContent span.button-03{float:left; margin:10px 0; width:220px;}
.wrapperOverlayContent span.button-03 input{width:215px; font-size:1.3em;}
.wrapperOverlayContent span.button-01{float:left; margin:0; width:220px;}
.wrapperOverlayContent span.button-01 input{width:215px;}
.wrapperOverlayContent span.button-03{float:left; margin:10px 0; width:220px;}
.wrapperOverlayContent span.button-03 input{width:215px; font-size:1.3em;}

.autocomplete-style input, .dob-style input{font-style:italic;}
.dateOfBirth input, input.dob{width:79px; text-align:left;}

.updateDep{display:none !important; visibility:hidden;}
.JSOFF .updateDep{display:inline-block !important; visibility:visible;}
.JSOFF .excessMin, .JSOFF .excessMax{display:none;}

p.vehicleDetails{padding:0 !important; font-weight:bold;}

#packages{margin-left:10px;}
.renewal #packages{margin-left:22px; margin-top:8px;}
#packages .package h4{cursor:pointer;}
#packages .package{position:relative;}
#packages .package.on span.info{position:absolute; top:13px; right:10px; z-index:6000;}
#packages .package span.info{position:absolute; top:4px; right:10px; z-index:6000;}
.renewal #packages .package span.info{top:5px;}
.renewal #packages .package.on span.info{top:12px;}
#packages .packageA{background-repeat:repeat-y; padding-top:10px;}
#packages .packageB{background-repeat:no-repeat; height:13px;}
#packages .packageC{position:relative; background-repeat:no-repeat; background-position:0 top;}
#packages .on .packageC{padding-top:4px;}
#packages .packageC .radio{position:absolute; top:3px; right:5px;}
#packages .packageC label{clear:both; cursor:pointer; display:block; padding-left:0;}
#packages .packageC span{display:block; line-height:1.1em; cursor:pointer;}
#packages .packageC .span1{font-size:1.1em; font-weight:bold; height:18px; padding-top:3px;}
#packages .packageC .span2{font-weight:bold; float:left; font-size:2em;}
#packages .packageC .span3{float:left; width:35px; margin-left:5px;}
#packages .package{width:171px; float:left; margin:14px 3px 0 0;}
.renewal #packages .package{width:164px; margin:14px 4px 0 0;}
#packages .packageD{background-repeat:no-repeat; background-position:0 top; padding-top:8px; text-align:center;}
#packages .packageD span.button-04{width:171px; margin-top:-1px !important;}
#packages .packageD span.button-04 input{width:167px;}
.renewal #packages .packageD span.button-04{width:164px;}
.renewal #packages .packageD span.button-04 input{width:160px;}
#packages .packageD span.button-04 input:hover, #packages .packageD span.button-04 input:focus, #packages .packageD span.button-04 input.focus{text-decoration:underline;}
#packages .on .packageD span.button-04{width:151px; margin-top:6px !important;}
#packages .on .packageD span.button-04 input{width:147px;}
#packages .on, .renewal #packages .on{margin-top:0;}
#packages .on .packageA{background-repeat:repeat-y;}
.JSOFF #packages .on .packageA{height:275px;}
#packages .on .packageB{background-repeat:no-repeat;}
#packages .on .packageB{display:none;}
#packages .on .packageC{background-repeat:repeat-y; background-position:0 0;}
#packages .on .packageD{background-position:0 100%; background-repeat:no-repeat; height:29px; padding-bottom:3px; padding-top:7px;}

.packageA li{padding:0; margin-bottom:5px;}
.packageA li a{padding:5px 0 5px 40px; display:inline-block; text-decoration:underline; cursor:pointer;}

#packages .package ul li, #packages .package ul li a, #customise table td.option a, #customiseAddOn table td.option a{background-repeat:no-repeat; background-attachment:scroll;}
#packages .package ul li a{background-position:2px -3px;}
#customise table td.option a{background-position:0 1px;}

#popupMain h3{padding-bottom:4px;}
.popupSection{background-repeat:no-repeat !important; background-position:0 100% !important;}
#popupMain h2 span.info_icon{width:30px; height:30px; display:block; float:right; margin:-2px 10px 0 0; background-position:-2px -1px;}

#packages li.last{margin-right:0;}
#packages li h4{padding:6px 0 0 20px; font-size:1.2em; font-weight:bold; height:19px;}
#packages li.on h4{padding:6px 0 0 20px; font-size:1.2em; font-weight:bold; height:26px;}
#p1, #p2, #p3, #p4, #p1.on, #p2.on, #p3.on, #p4.on{background-repeat:no-repeat;}

.quote_values{float:left;}
.quote_values th, .quote_values td, .quote_values h3{font-weight:bold; line-height:1em; font-size:1.3em;}
.quote_values div.total div.value{line-height:1em; font-weight:bold;}
.quote_values td{font-size:2.5em; vertical-align:top; padding-top:6px;}
.quote_values th.total, .quote_values td.total{padding-left:12px;}
.quote_values td.total{font-size:3.85em;}
.quote_values div.total{font-size:4.5em;}
.quote_values td span.period, .quote_values div.total span.period{display:block; float:right; font-size:0.45em; font-weight:bold; line-height:1em; margin-left:5px; padding-top:9px; width:38px;}
.quote_values td.total span.period, .quote_values div.total span.period{font-size:0.3em; line-height:1em;}
.quote_values td div.value{display:block; float:left;}
.quote_values td span.decimals, .quote_values div span.decimals{font-size:0.8em;}
.quote_values td.plus{background-repeat:no-repeat; background-position:right 12px; padding-right:35px;}
.quote_values td.equals{background-repeat:no-repeat; background-position:right 16px; width:117px;}
.quote_values td.copy{font-size:1.1em; line-height:1.2em; font-weight:normal; vertical-align:bottom; padding-bottom:8px; width:300px;}

#RenewalPrice.monthly .quote_values th{white-space:normal; font-size:1.1em; padding-right:5px; width:115px;}
#RenewalPrice.monthly .quote_values td span.period{padding-top:0; float:left;}
#RenewalPrice .buttons .button-04{float:right;}

.quote_4_values table{width:500px;}
.quote_4_values .quote_values th{font-size:1.1em;}
.quote_4_values td{width:125px; padding-right:5px;}
.quote_4_values td.initial{width:95px;}
.quote_4_values td.perMonth{width:auto;}
.quote_4_values td span.period{padding-top:0; float:left;}
.quote_4_values .button-02{margin-top:7px;}

span.b{font-weight:bold;}

#customise table{width:693px; margin-left:10px;}
#customise table{background-repeat:no-repeat;}
#customise table tr.h3 th{font-size:1em; font-weight:bold; margin-bottom:10px; padding:6px 22px 6px 4px;}
#customise table tr td{padding:6px 8px 4px 0;}
#customise table tr td.option{background-position:4px 100%; width:153px;}
#customise table tr td.price, #customise table tr td.price span{font-size:1.2em !important; font-weight:bold;}
#customise table tr td.price span{font-size:1em !important; font-weight:bold; padding-left:4px;}
#customise table tr td.price span.button-04{padding-left:0;}
.mta #customise, .renewal #customise{background-repeat:no-repeat; background-position:50% bottom; padding-bottom:9px;}
.mta #customise table, .renewal #customise table{margin-left:0; width:530px; background:0;}
.renewal #customise table{width:500px; margin-left:22px;}
.mta #MTAcustomiseContainer table, .mta #customiseContainer table, .renewal #customiseContainer table{width:500px;}
.mta #customise table tr td.option, .renewal #customise table tr td.option{width:200px;}
.mta #customise .h3, .mta #customise h4, .renewal #customise .h3, .renewal #customise h4{background-repeat:no-repeat; background-position:0 0;}
.mta #customise h4, .renewal #customise h4, .renewal #customiseBundle h3, .renewal #customiseBundle_a h3{color:#FFFFFF; font-size:1.2em; font-weight:bold; padding:8px 10px;}
.mta #customise tr, .renewal #customise tr{background:0;}
.renewal #customiseBundle h3, .renewal #customiseBundle_a h3{margin-left:22px; width:auto; padding-bottom:0;}
.renewal #customiseBundle #customise-out h3, .renewal #customiseBundle_a #customise-out h3{margin-left:10px;}
#MTAcustomiseContainer #selected_options ul, #MTAcustomiseContainer #unselected_options ul{float:none; margin-bottom:0; padding:0; width:auto;}
#MTAcustomiseContainer #selected_options ul li, #MTAcustomiseContainer #unselected_options ul li{float:none; width:auto;}
#MTAcustomiseContainer #selected_options a, #MTAcustomiseContainer #callCentreOptions a{float:none; font-size:1em;}
#MTAcustomiseContainer #customise{background:0 none;}
#MTAcustomiseContainer .manual_confirm {overflow:hidden;}
#MTAcustomiseContainer .manual_confirm .button-07{float:right;}
#MTAcustomiseContainer .manual_confirm .href{float:right; margin-top:5px;}
#auto-add .moreCoverOptionsButtonContainer .button_04 input{width:233px;}

#customiseAddOn table{width:100%; margin-left:10px;}

#customiseAddOn table{background-repeat:no-repeat;}
#customiseAddOn table tr.h3{background:transparent;}
#customiseAddOn table tr.h3 th{font-size:1em; font-weight:bold; margin-bottom:10px; padding:6px 0 6px 20px;}
#customiseAddOn table tr td{padding:6px 8px 4px 17px;}
#customiseAddOn table tr td.price{width:180px;}
#customiseAddOn table tr td.option{width:280px;}
#customiseAddOn table tr td.price, #customiseAddOn table tr td.price span{font-size:1.2em !important; font-weight:bold;}
#customiseAddOn table tr td.price span{font-size:1em !important; font-weight:bold; padding-left:4px;}
#customiseAddOn table tr td.price span.button-04{padding-left:0;}

#customiseAddOn table tr td.addoncheckbox{white-space:nowrap;}

#customiseAddOn table tr td.bottom{vertical-align:bottom;}

#customiseAddOn table tr td.option span.subtotal{display:block; font-weight:bold;}
#customiseAddOn table tr td.price span.subtotal{border-top:1px solid #5A2D7F; border-bottom:1px solid #5A2D7F; display:inline-block; text-align:left; margin:8px 0 0 0; padding:4px;}
#customiseAddOn table tr td.price span.subtotal span{padding:0;}

#customiseAddOn table tr{background-repeat:no-repeat; background-position:50% bottom;}
#customiseAddOn table tr.last{background:0;}
#customiseAddOn table tr td.nobg{background:transparent;}

#customiseAddOn table td.option a{display:block; font-size:1.2em; padding:9px 0 8px 42px; margin-left:-8px;}
#customiseAddOn table td.option span{margin-left:28px; font-size:1.2em;}
#customiseAddOn table td.option span.total{font-size:1.3em; font-weight:bold; line-height:1em; display:block; margin:1px 0 0 2px;}
#customiseAddOn table td.price span.total{display:inline-block; font-size:1em; border-top:2px solid #5A2D7F; border-bottom:2px solid #5A2D7F; font-weight:bold; padding:6px 0; margin:8px 0 0 0;}
#customiseAddOn table td.price span.total span{font-size:1.4em !important;}
#customiseAddOn table td input{border:0; outline:0; position:relative; top:3px;}
#customiseAddOn table td span.button-04 input{top:0;}
span.list{display:block; margin:14px 0;}
#customiseAddOn table tr td.option span.list{margin-top:8px;}
#customiseAddOn table tr td.option span.subtotal{margin-bottom:4px;}

#MTAcustomiseContainer, #customiseContainer, .mta #customise{width:500px;}
.renewal #customise{width:510px; padding-bottom:0;}
#MTAcustomiseContainer .fromTile, #customiseContainer .fromTile{display:none;}
.JSOFF #MTAcustomiseContainer .fromTile, .JSOFF #customiseContainer .fromTile, .JSOFF #MTAcustomiseContainer{display:block !important;}

#customise table tr td.addoncheckbox{white-space:nowrap;}

#customise table tr td.bottom{vertical-align:bottom;}

#customise table tr td.option span.subtotal{display:block; font-weight:bold;}
#customise table tr td.price span.subtotal{display:inline-block; text-align:left; margin:8px 0 0 0; padding:4px; width:105px;}
#customise table tr td.price span.subtotal span{padding:0;}

#customise table tr{background-repeat:no-repeat; background-position:50% bottom;}
#customise table tr.last{background:0;}

#customise table td.option a{display:block; font-size:1.2em; margin-left:-8px; padding:9px 0 8px 35px;}
#customise table td.option span{margin-left:28px; font-size:1.2em; display:inline-block;}
#customise table td.option span.included{font-size:0.9em;}
#customise table td.option span.total{font-size:1.3em; font-weight:bold; line-height:1em; display:block; margin:1px 0 0 2px;}
#customise table td.price span.total{display:inline-block; font-size:1em; font-weight:bold; padding:6px 0; margin:8px 0 0 0;}
#customise table td.price span.total span{font-size:1.4em !important;}
#customise table td input{border:0; outline:0; position:relative; top:3px;}
#customise table td span.button-04 input{top:0;}
span.list{display:block; margin:14px 0;}
#customise table tr td.option span.list{margin-top:8px;}
#customise table tr td.option span.subtotal{margin-bottom:4px;}

#callCentreOptions p{padding:28px 10px 10px;}

#priceSummaryBreakdown p.sml{padding-left:0;}
#priceSummaryBreakdown .panel-3B dt{width:290px;}
#priceSummaryBreakdown .panel-3B dd{width:135px; text-align:right;}
#priceSummaryBreakdown .panel-3B label, #priceSummaryBreakdown .panel-3B dt div{font-weight:bold;}
#priceSummaryBreakdown .totals{font-size:1.2em;}
#priceSummaryBreakdown .totals dt{padding-top:20px;}
#priceSummaryBreakdown .totals dd{font-weight:bold;}
#priceSummaryBreakdown .totals .decimals{font-size:0.8em;}
#priceSummaryBreakdown .totals .price{display:inline-block;}
#priceSummaryBreakdown .totals .period{display:inline-block; font-size:0.8em; line-height:1em; padding-left:3px; padding-top:6px; text-align:left; width:36px;}
#priceSummaryBreakdown .buttons{padding:0 9px; width:483px;}
#priceSummaryBreakdown .buttons .button_a{float:left;}
#priceSummaryBreakdown .buttons .button_b{float:right;}
#priceSummaryBreakdown .panel-3B p{padding:16px 35px 0; font-size:0.85em;}
#priceSummaryBreakdown .panel-3B #confirmOptionsMessage p{padding:4px 21px 4px 12px;}
#priceSummaryBreakdown .panel-3B dl.first{background: 0 none; padding-top:25px;}
#priceSummaryBreakdown .panel-3B dl{background-position: 3px 0;}

.welcome{width:528px; float:left; margin:0 11px 0 0;}
.welcome img p{display:inline;}
.welcome img{float:right;}
.premiumPanel, .panelPart{width:490px; min-height:131px; background-repeat:no-repeat; background-position:0 100%; margin:3px 0 0 38px; float:left;}
.premiumPanel p{padding-left:14px;}
.premiumPanel h3, .panelPart h3{background-repeat:no-repeat; line-height:1em; font-size:1.2em; margin-bottom:10px; font-weight:bold; padding:6px 0 0 12px; height:20px;}
.premiumPanel h3 input{border:0 none; cursor:pointer; float:right; font-size:0.85em; height:14px; overflow:visible; padding:0; text-align:left; text-decoration:underline; width:354px;}
.premiumPanel h3 input:hover, .premiumPanel h3 input.hover{text-decoration:none;}
.premiumPanel .headerButtons{float:right; text-align:center; width:198px; margin-right:12px;}
.premiumPanel .headerButtons input{width:194px !important; float:right; font-size:1em;}
.premiumPanel .headerButtons span{display:block; margin-bottom:8px !important;}
.premiumPanel .headerButtons input:hover, .premiumPanel .headerButtons input:focus, .premiumPanel .headerButtons input.focus{text-decoration:underline;}
.brandPanel, .brandPanelButton, .brandPanelButton span{width:192px;}
.brandPanelButton span input{width:189px;}
.brandPanel, .brandPanelButton{margin-right:38px; float:right; clear:right;}
.brandPanel{min-height:136px; background-repeat:no-repeat; margin-bottom:10px; padding-top:40px;}
.brandPanelButton{margin-bottom:8px; font-size:1.2em;}
.mta-summary-buttons .brandPanelButton{margin-bottom:0;}
.brandPanel .addOnList{background-position:0 100%; background-attachment:scroll; background-repeat:no-repeat;}
.brandPanel .addOnList p{font-size:1.2em; margin-bottom:0; padding-top:4px; padding-right:4px; padding-bottom:4px;}
.brandPanel .addOnList ol{margin:0 0 0 16px;}
.brandPanel .addOnList ol li{font-size:1.1em;}
.brandPanel .addOnList ol li a{padding:5px 0 5px 20px; background-position:0 4px; background-repeat:no-repeat; display:block;}


.brandPanel, .brandPanelDynamic{width:192px; margin-right:38px; margin-bottom:10px; float:right; background-repeat:no-repeat;}
.brandPanel p, .brandPanelDynamic p{margin:40px 0 10px -24px; text-align:left; font-size:1.7em; line-height:1.2em;}
.brandPanel p{margin-top:0;}

.brandPanel p, .brandPanelDynamic p{font-size:1.4em; font-weight:bold; margin-bottom:0; padding-bottom:0;}
.brandPanel .brandFooter{background-repeat:no-repeat; background-position:0 100%; padding-bottom:8px; position:relative; bottom:0; min-height:126px;}

.brandPanelDynamic{padding-top:40px;}
.brandPanelDynamic p{font-size:1.3em; font-weight:bold; margin:0 11px 0; padding:0 0 10px; line-height:1.4em;}
.brandPanelDynamic .brandContent{background-position:0 0; background-attachment:scroll; background-repeat:repeat-y;}
.brandPanelDynamic .brandContent span.more{display:block;}
.brandPanelDynamic .brandContent .sml{font-size:0.7em; font-weight:normal;}
.brandPanelDynamic .brandContent a{font-weight:normal; font-size:0.9em;}
.brandPanelDynamic .bc1{min-height:156px;}
.brandPanelDynamic .brandFooter{background-repeat:no-repeat; background-position:0 100%; padding-bottom:8px; position:relative; bottom:0; overflow:hidden; height:20px;}

.brandPanelDynamic .brandFooter li{float:left; width:15px; height:15px; cursor:pointer; margin-right:10px; text-align:center;}
.brandPanelDynamic .brandFooter li a{width:16px; height:16px; display:block;;}

.brandPanelDynamic .brandFooter a{background-attachment:scroll; background-repeat:no-repeat; background-position:-10px 0; text-indent:-5000px}

.brandPanelDynamic .brandFooter a.button{width:10px; height:15px; display:block; float:left; cursor:pointer;}
.brandPanelDynamic .brandFooter a.prev{margin-right:10px; margin-left:16px; background-position:0 0;}
.brandPanelDynamic .brandFooter a.next{float:right; margin-right:16px; background-position:-42px 0;}
.brandPanelDynamic .brandFooter a.on{background-position:-26px 0;}

.premiumDetails{padding-left:12px;}
.premiumDetails p{padding:0; line-height:3.4em; font-size:1em;}
.premiumDetails span{display:block;}
.premiumDetails span.span2{font-size:1.3em; font-weight:bold; line-height:1em;}
.premiumDetails span.span3{font-size:1em; line-height:1em; padding-top:8px;}
.premiumPrice{font-size:4.5em; font-weight:bold; display:block;}
.apr_data, .apr_data span{line-height:1.3em;}
.apr_data span, .apr{font-size:1.5em;}

.wrapper-3 .mta-summary{float:left; width:295px;}
.wrapper-3 .mta-summary th{font-size:1.2em; font-weight:bold; padding:16px 16px 0; width:115px;}
.wrapper-3 .mta-summary td{vertical-align:middle;}
.wrapper-3 .mta-summary .price{font-weight:bold; font-size:3.2em !important; float:left; padding-right:5px; padding-top:15px; display:inline-block;}
.wrapper-3 .mta-summary .price .decimals{font-size:0.8em !important;}
.wrapper-3 .mta-summary .period{font-size:1.2em !important; font-weight:bold; position:relative; top:4px; padding-top:15px; display:inline-block; float:left; width:40px;}
.wrapper-3 .mta-summary-buttons{padding-bottom:9px; padding-top:4px;}
.wrapper-3 .brandPanelButton{margin-right:10px; margin-top:4px;}

.panelPart p{padding:0 5px 5px; margin:0 5px 5px; line-height:1.2em; border-bottom:1px dashed #3C3C3C;}
.nolines p{border-bottom:0;}

.paymentPanel, .securePanel{width:342px; float:left; margin-left:38px; background-repeat:no-repeat; background-position:0 100%;}
.securePanel{margin-left:10px;}
.paymentPanel h3, .securePanel h3{background-repeat:no-repeat; height:20px; padding:6px 0 0 20px; font-size:1.2em; font-weight:bold;}
.paymentPanel ul, .securePanel ul{text-align:center; margin:10px 0 0 100px; height:50px;}
.securePanel ul{margin-left:95px;}

.paymentPanel li, .securePanel li{display:block; background-repeat:no-repeat; margin:0 1px; text-indent:-5000px; float:left;}
.paymentPanel li.paymentType1{width:47px; height:31px;}
.paymentPanel li.paymentType2{background-position:0 -31px; width:47px; height:31px;}
.paymentPanel li.paymentType3{background-position:0 -62px; width:47px; height:31px;}
.securePanel li{background-repeat:no-repeat;}
.securePanel li.secureType1{width:53px; height:35px;}
.securePanel li.secureType2{background-position:0 -35px; width:48px; height:31px;}
.securePanel li.secureType3{background-position:0 -71px; width:67px; height:37px;}
iframe#paymentFrame{height:1150px; width:769px; margin:0; border:0; margin:0 0 -1px 1px;}
.JSOFF iframe#paymentFrame{height:1400px;}

span.nojs, input.nojs, div.nojs{display:none;}
.JSOFF span.nojs, .JSOFF input.nojs, .JSOFF div.nojs{display:block;}
.JSOFF div.nojs{padding:0 36px;}
.JSOFF div.changePolicy{display:inline;}

iframe#iframe{overflow:hidden;}
.JSOFF iframe#iframe{overflow:auto;}

.findAddress, .findMyCar{width:106px;}
.headerButtons .button-04 input{width:100px;}
.moreCoverOptionsButtonContainer .button-04 input{width:130px;}
.flexibleWidthButton .button-04 input{width:auto;}

.wrapperOverlay{margin:auto; width:423px; font-size:1em;}
.wrapperOverlayA{width:423px; height:9px; background-repeat:no-repeat;}
.wrapperOverlayB{width:423px; background-repeat:repeat-y;}
.wrapperOverlayC{width:423px; height:9px; background-repeat:no-repeat; background-position:0 100%;}
.wrapperOverlay h2{float:right; width:242px; font-size:1.4em; font-weight:bold; text-align:left; padding-top:30px;}
#registrationOverlayContainer .wrapperOverlay h2{font-weight:normal;}
.wrapperOverlayImage{width:180px; float:left; margin-top:10px; text-align:center;}
.wrapperOverlayImage img{margin:5px 20px;}
.wrapperOverlayImage h3{width:160px; margin-left:13px; text-align:left; padding-top:32px; padding-bottom:16px;}
.wrapperOverlayImage table{width:160px; margin-left:13px; text-align:left;}
.wrapperOverlayContent{width:242px; float:left; text-align:left;}
.wrapperOverlayContent p{padding:5px 40px 36px 0 !important; font-size:1.1em; line-height:1.4em;}
.wrapperOverlayContent p span{font-size:1.4em; font-weight:bold; display:block; clear:both; padding-top:10px;}
.wrapperOverlayContent #buttonContainer{margin-bottom:27px;}
.wrapperOverlayContent h2{padding-top:20px;}

#ajaxErrorPrompt .wrapperOverlayContent, #emailSentPrompt .wrapperOverlayContent, #messagePrompt .wrapperOverlayContent, #takeEffectFromPrompt .wrapperOverlayContent, #confirmBankDetailsPrompt .wrapperOverlayContent{width:388px; padding-left:30px; padding-bottom:12px; float:none;}
#ajaxErrorPrompt .wrapperOverlayContent h2, #emailSentPrompt .wrapperOverlayContent h2, #messagePrompt .wrapperOverlayContent h2, #takeEffectFromPrompt .wrapperOverlayContent h2, #confirmBankDetailsPrompt .wrapperOverlayContent h2{float:none; width:auto;}
#ajaxErrorPrompt .wrapperOverlayContent p, #emailSentPrompt .wrapperOverlayContent p, #messagePrompt .wrapperOverlayContent p, #takeEffectFromPrompt .wrapperOverlayContent p, #confirmBankDetailsPrompt .wrapperOverlayContent p{padding-bottom:24px;}
#ajaxErrorPrompt .wrapperOverlayContent span.button-01, #emailSentPrompt .wrapperOverlayContent span.button-01, #messagePrompt .wrapperOverlayContent span.button-01, #takeEffectFromPrompt .wrapperOverlayContent span.button-01, #confirmBankDetailsPrompt .wrapperOverlayContent span.button-01{float:right; margin-right:18px;}
#ajaxErrorPrompt .wrapperOverlayB, #emailSentPrompt .wrapperOverlayB, #messagePrompt .wrapperOverlayB, #takeEffectFromPrompt .wrapperOverlayB, #confirmBankDetailsPrompt .wrapperOverlayB{padding-bottom:10px;}

.noJSoverlay{clear:left; padding-bottom:16px;}
.noJSoverlay .wrapperOverlay{margin-left:37px;}
.noJSoverlay .wrapperOverlayB{padding-bottom:0 !important;}
.JSOFF .noJSoverlay .wrapperOverlayB{overflow:hidden;}
.noJSoverlay .wrapperOverlayB .clearFloat{display:none;}
.noJSoverlay .wrapperOverlayContent{padding:0 0 0 12px !important;}
.noJSoverlay .wrapperOverlayContent p{padding:0 !important;}
.noJSoverlay .wrapperOverlayContent h2{padding-top:2px;}

.wrapperOverlay #block2{text-align:left;}
.wrapperOverlay #block2 h2{float:none; width:auto;}

.twoBlocks .grey-panel p.instalments{padding-bottom:6px;}
table.instalments{width:325px; float:left; margin-left:20px;}
table.instalments th{border-bottom:1px solid #c0bfba; font-weight:bold; width:33%;}
table.instalments th, table.instalments td{padding:2px 0;}
table.instalments td.amount{text-align:right; font-weight:bold;}
table.instalments th.amount{text-align:right;}

.scrollBox1, .scrollBox2, .scrollBox3{height:56px; overflow:auto; margin:0 22px 5px 22px; border:1px solid #C0BFBA;}
.scrollBox2, .scrollBox3{margin:0 20px 5px 20px;}
.scrollBox1 li, .scrollBox2 li, .scrollBox3 li{padding:2px 0 0 20px !important; background-repeat:no-repeat !important; background-position:9px 8px !important;}

.scrollBox2{height:120px;}
.scrollBox3{height:230px;}

.twoBlocks .grey-panel .scrollBox1 p, .twoBlocks .grey-panel .scrollBox2 p, .twoBlocks .grey-panel .scrollBox3 p{padding:2px 0 10px 6px; font-size:1em; }

h3.dd-logo{height:40px !important; padding-top:15px !important; background-repeat:no-repeat;}
h3.dd-logo span{display:block; float:right; width:103px; height:33px; background-repeat:no-repeat; margin:-10px 20px 0 0;}

.paymentDate label{width:370px; padding-right:20px; float:left; padding-left:11px;}

.verisignBox{width:192px; float:right; margin:3px 40px 0 0; background-repeat:no-repeat; background-position:0 bottom;}
.verisignBox p{font-size:1.2em; line-height:1.2em; padding:0 10px;}
.verisignBox h3{height:20px; line-height:1em; font-size:1.2em; font-weight:bold; margin-bottom:6px; padding:6px 0 0 12px; background-repeat:no-repeat;}
.verisignBoxInner{height:99px; padding: 0 0 50px;}

#block2 .mta .savedAnswer{font-weight:bold;}

/*Printable styles*/
.print div.panels{width:374px; float:none; margin:0 10px 10px 355px;}
#popupMain.print #block2{width:770px;}

.print .panel-1A{background-repeat:no-repeat; background-position:0 100%; height:25px; width:374px;}
.panel-1A h3, .panel-2A h3{font-size:1.2em; font-weight:bold; padding:6px 0 0 20px;}
.print .panel-1B{background-repeat:no-repeat; background-position:0 100%; width:374px;}
.panel-1B ul, .panel-2B ul{padding:4px 2px; font-size:1.1em;}
.panel-2B ul{padding:4px 20px; font-size:1.1em;}
.panel-1B ul li, .panel-2B ul li{width:180px; border:0; display:inline-block; vertical-align:top;}
.panel-2B ul li{width:205px;}
.panel-1B ul li span, .panel-2B ul li span{display:block; padding-top:6px; float:left; width:125px;}
.panel-1B ul.additionalwidth li span, .panel-2B ul.additionalwidth li span{width:150px;}
.panel-1B ul.additionalwidth li span.tick, .panel-2B ul.additionalwidth li span.tick, .panel-4B ul.additionalwidth li span.tick{margin-top:8px;}
.panel-2B ul li span{width:150px;}
.panel-1B ul li span.icon,.panel-1B ul li span.icon, .panel-2B ul li span.icon{width:30px !important; height:30px; border:0; display:inline; float:left; padding:0;}
.panel-3B ul li span.icon, .panel-6B ul li span.icon, .panel-4B ul li span.icon{width:30px !important; height:25px; border:0; display:inline; float:left; padding:0;}
.panel-1B ul li span.tick, .panel-2B ul li span.tick, .panel-4B ul li span.tick{width:13px !important; height:17px; background-repeat:no-repeat; display:block; float:right; padding:0; margin:4px 10px 0 0;}
.print .panel-1C{background-repeat:no-repeat; height:4px; width:374px; overflow:hidden;}

#block2 .twoCols{margin:0 0 10px 38px;}
#block2 .twoCols .panel{float:left; margin:0 12px 10px 0;}
#block2 .twoCols .panel-last{margin-bottom:0;}
#block2 .panel-7A h3, #block2 .panel-8A h3, #block2 .panel-9A h3, #block2 .panel-10A h3{margin-left:0;}
#block2 .panel-7B p, #block2 .panel-8B p, #block2 .panel-9B p, #block2 .panel-10B p{padding:0 12px 20px 12px;}
.panel-7A{width:451px; height:19px; padding-bottom:6px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}
.panel-7B{width:451px; min-height:138px; background-attachment:scroll; background-repeat:repeat-y; background-position:0 0; padding:5px 0 0 0;}
.panel-7C{width:451px; height:6px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}

.panel-8A{width:230px; height:19px; padding-bottom:6px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}
.panel-8B{width:230px; background-attachment:scroll; background-repeat:repeat-y; background-position:0 0;}
.panel-8C{width:230px; height:5px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}

.panel-9A{width:400px; height:19px; padding-bottom:6px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}
.panel-9B{width:400px; min-height:211px; background-attachment:scroll; background-repeat:repeat-y; background-position:0 0; padding:5px 0 0 0;}
.panel-9C{width:400px; height:6px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}

.panel-10A{width:281px; height:19px; padding-bottom:6px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}
.panel-10B{width:281px; background-attachment:scroll; background-repeat:repeat-y; background-position:0 0; padding:5px 0 0 0;}
.panel-10C{width:281px; height:6px; background-attachment:scroll; background-repeat:no-repeat; background-position:0 0;}

ul.secureSite{padding:8px; text-align:center;}
ul.secureSite li{display:inline;}

#block2 .formSection ul.noTopBg {background-image:none;}

.print .brandPanel{height:125px}
.print .brandPanel p{font-size:1.4em; font-weight:bold; margin-bottom:0; padding-bottom:0;}
.print .premiumPanel{margin-top:-5px;}
.print .brandFooter{background-repeat:no-repeat; background-position:0 100%; padding-bottom:8px; height:118px;}
.print .premiumPanel{min-height:100px;}
.print .premiumDetails span{display:inline; float:left;}
.print .premiumDetails span.span2{width:50px; padding:8px;}
.print h2 a.print{float:right; margin-right:40px; font-size:0.5em; font-weight:normal; padding:6px 0 0 23px; background-repeat:no-repeat; background-position:0 4px;}
.print .panel-1 h3, .print div.excessSummary h3{display:block;}
.print .premiumPanel h3 span{font-weight:normal; display:inline-block; width:355px; font-size:0.9em; text-align:right;}

.print .formSection table.summary{width:330px; margin-left:20px; font-size:1.1em; float:left;}

.twoBlocks .formSection table{width:694px; margin-left:20px; font-size:1.1em;}
.twoBlocks .mta .formSection table{width:705px; clear:both;}
.twoBlocks .formSection table th{text-align:right; padding:11px 15px 12px 0; width:160px; border-bottom:1px solid #dfe1db;}
.twoBlocks .formSection table th h3{margin:-13px 0 -11px 0;}
.twoBlocks .formSection table th h3, .twoBlocks .formSection table th h4{padding-bottom:0; text-align:left; width:100%; white-space:nowrap; float:left;}
.twoBlocks .formSection table td{font-weight:bold; padding:11px 0 12px 0; width:160px; border-bottom:1px solid #dfe1db;}
.twoBlocks .formSection table tr.first-last th, .twoBlocks .formSection table tr.first-last td{border:0;}

.twoBlocks .formSection table.alt1{margin:0 37px;}
.twoBlocks .formSection table.alt1 th{font-weight:bold; text-align:left; width:85px; white-space:nowrap;}
.twoBlocks .formSection table.alt1 td{font-weight:normal; text-align:left;}
.twoBlocks table.alt1 td span.total{font-size:1.8em;}

.print .buttons{margin:-20px 0 0; width:100%; padding-bottom:10px;}
.print .buttons a{float:right; margin:0 40px 0 -10px; display:block; padding:4px 0 4px 24px; font-size:1.2em;}
.print .buttons a.print{background-repeat:no-repeat; background-position:0 17px;}
.print .buttons a.close{background-repeat:no-repeat; background-position:0 17px; padding-left:16px;}

.print .excessSummary{margin-top:10px;}
.print .excessSummary .excessSummaryA, .print .excessSummary .excessSummaryC{height:5px; width:374px; background-repeat:no-repeat; overflow:hidden;}
.print .excessSummary .excessSummaryB{background-repeat:repeat-y;}
.print .excessSummary .excessSummaryC{background-repeat:no-repeat;}
.print .excessSummary .excessSummaryB h3{float:none; width:100%; padding:8px 0 10px 15px; font-size:1.4em; font-weight:bold; margin:4px 1px; background-repeat:no-repeat; background-position:0 100%; clear:both; display:inline-block;}
.print .excessSummary .excessSummaryB p{font-size:1em; padding:4px 12px 4px; line-height:1.2em;}

.overlay_close .wrapperOverlay #block2 .wrapperA{position:relative;}
.overlay_close .wrapperOverlay .wrapperA .close{background-position:0 4px; background-repeat:no-repeat; display:block; font-size:1.2em; padding:4px 0 4px 16px; position:absolute; right:10px; top:8px; cursor:pointer;}

#popupMain.print .excessSummary dl{margin:10px 0;}

#popupMain.print .quote_values p.apr_data{width:612px; margin:4px 25px;}
/*
 These rules are making items overlap in the printable summary
#popupMain.print .quote_values .plus{width:120px;}
#popupMain.print .quote_values .equals{width:162px;}
*/
#popupMain.print .quote_values .total{padding-left:10px; vertical-align:bottom;}
#popupMain.print .quote_values .value{font-size:1.2em;}

#popupMain.print .excessSummary dl dt{font-size:1em;}
#popupMain.print .excessSummary dl.list{padding-left:17px !important; margin-top:10px;}
#popupMain.print .excessSummary dl dt.sml{width:120px;}
#popupMain.print .excessSummary dl dt.lrg{width:280px;}
#popupMain.print .excessSummary dl.list dl dt{background:0; padding-left:0; font-weight:normal;}
#popupMain.print .excessSummary dl dt{font-weight:bold; float:left; width:205px;}
#popupMain.print .excessSummary dl dd dl{margin-top:0;}
#popupMain.print .excessSummary dl dd dl dt{width:80px;}
#popupMain.print .excessSummary dl dt span{font-weight:normal;}

#popupMain.print .excessSummary table{width:310px; margin-left:17px; font-size:1em;}
#popupMain.print .excessSummary table th{border:0; width:250px; text-align:left; font-weight:bold; vertical-align:top; padding-bottom:0;}
#popupMain.print .excessSummary table th span.list{padding-left:12px !important; font-size:1em;}
#popupMain.print .excessSummary table td{border:0; text-align:left; font-weight:normal; padding-bottom:0;}
#popupMain.print .excessSummary table td dl{padding-left:0; margin-top:0;}
#popupMain.print .excessSummary table td dt{width:auto; float:left; padding-bottom:4px; padding-left:0; font-weight:normal; white-space:nowrap;}
#popupMain.print .excessSummary table td dd{float:right;}

#popupMain.print .excessSummary dl .total{font-weight:bold;}

address span{display:block; font-style:normal;}

.confirmation-premium-price{background-repeat:no-repeat; width:166px; height:89px; margin:10px 10px 10px 0; float:right;}
.confirmation-premium-price th, .confirmation-premium-price td{font-size:1.4em; font-weight:bold; padding:5px 8px 0 8px; text-align:right;}
.confirmation-premium-price th{font-size:1.3em; vertical-align:bottom;}
.confirmation-premium-price td{font-size:3.4em; padding:0 6px 0 0; vertical-align:top;}
.confirmation-premium-price td span.decimals{font-size:0.8em;}
.confirmation-premium-price td span.period{display:block; float:right; font-size:0.3em; font-weight:bold; line-height:1em; margin-left:7px;}

.wrapper-3 p.policy-details, .currentDetails p.policy-details{padding:2px 10px;}
.wrapper-3 p.policy-details{font-size:1.4em !important;}

.formGrab ul{margin-bottom:30px;}