python-setuptools:

sudo apt-get install python-setuptools

--------------------------------------

python-suds:

wget https://fedorahosted.org/releases/s/u/suds/python-suds-0.4.1.tar.gz
tar -zxvf python-suds-0.4.1.tar.gz
cd python-suds-0.4.1
sudo python setup.py install

--------------------------------------

python-ntlm:

apt-get install subversion
svn checkout http://python-ntlm.googlecode.com/svn/trunk/ python-ntlm
cd python-ntlm
sudo python setup.py install