#pageNavigation,
#pageNavigation li,
#pageNavigation ol
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/top-nav.gif);}

#pageContent{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/page-border.gif);}

#pageFooter{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/page-bottom.gif);}
#pageFooter li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/footer-separator.gif);}

.clearHeader{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row.gif);}

.grey-panel-725, .panel-725-submit, .wrapper-3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel2.png);}

.grey-panel-725{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel.png);}

.grey-panel-footer{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-3.gif);}
#block2 .grey-panel-footer ul.formInputs{background-image:none !important;}

.panel-725-submit .grey-panel-footer, .wrapper-3A{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel-footer2.png);}

.twoBlocks .grey-panel-725, .twoBlocks .panel-725-submit{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel-2.png);}

.twoBlocks .panel-725-submit{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel2-2.png);}
.twoBlocks .grey-panel-footer{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel-footer-2.png);}
.twoBlocks .customising .grey-panel-footer{background-image:none;}
.twoBlocks .panel-725-submit .grey-panel-footer{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel-footer2-2.png);}

.grey-panel{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel-middle-4.png);}
.twoBlocks .grey-panel, #customise-out{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel-middle-3.png);}
.renewal #customise-out{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-2.gif);}
.renewal .grey-panel-4{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-2.gif);}
.twoBlocks .grey-panel .grey-panel-top, .twoBlocks #customise-inner{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/important-info-panel-footer-3.png);}
.renewal .grey-panel-4 .grey-panel-top, #customise-inner{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-3.gif);}



.twoBlocks .grey-panel h3, #customiseBundle h3, #customiseBundle_a h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/header3-long.gif);}
.renewal .grey-panel-4 h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-1.gif);}

.twoBlocks .grey-panel-2 h3.dd-logo span{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/dd-logo-2.gif);}
.twoBlocks .grey-panel-2 .grey-panel-2-top{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/scroll-box-footer.png);}
.twoBlocks .grey-panel-2 .grey-panel-2-footer{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/scroll-box-top.png);}

.twoBlocks #block2 .grey-panel-3 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/grey-panel-3-1.gif);}
.twoBlocks #block2 .grey-panel-3 .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/grey-panel-3-2.gif);}
.twoBlocks #block2 .grey-panel-3 .wrapperC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/grey-panel-3-3.gif);}

a.list, .list li, .list dt, span.list,
.list dt
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/arrow1.gif);}

#block1 .wrapperInner h2.attention, #block3 .wrapperInner h2.attention{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/alert.gif);}

.formSection{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-section.gif);}
.formSectionLast{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row.gif);}
.formSection.wHeading h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-section-3.gif);}
#popupMain.print .hr, .twoBlocks .hr{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/twoblocks-formsection-hr.gif);}

.formSection ul.formInputs, #block2 .mta ul.downloads{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row.gif);}
.formSection .formInputs li, .formSection .savedForm li, #block2 .mta ul.downloads li, .button-add-another-container{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row.gif);}
.panelForm .formInputs li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row-3.gif);}
.twoBlocks .formSection .grey-panel-footer .formInputs li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row-4.gif);}
.formInputs li.nobg, .twoBlocks .grey-panel-footer .formInputs li.nobg {background-image:none;}

.renewal .formSection .grey-panel-4 .formInputs li.last{background-image:none;}

.renewal .formSection .grey-panel-4 .formInputs li,
.renewal .panel-3 ul.formInputs
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row-1.gif);}
.twoBlocks .formSection .formInputs li,
.twoBlocks .formSection ul.formInputs
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row-2.gif);}

.twoBlocks #boxedQuestions .formInputs li,
.twoBlocks #boxedQuestions ul.formInputs
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-row-3.gif);}
.twoBlocks #boxedQuestions .formInputs li.last
	{ background-image:none; }

.errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom.gif);}
.home .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-4.gif);}
.helpOn .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-no-bottom.gif) !important;}
.home .helpOn .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-no-bottom-4.gif) !important;}
.errorMessage .errorTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-top.gif);}
.home .errorMessage .errorTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-top-4.gif);}

.highlight .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top.gif);}
.renewal .grey-panel-4 .highlight .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-6.gif);}
.home .highlight .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-4.gif);}
.error .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-error-top.gif);}
.home .error .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-error-top-4.gif);}
.highlight .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom.gif);}
.renewal .grey-panel-4 .highlight .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-6.gif);}
.home .highlight .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-4.gif);}
.JSOFF .helpMessage .helpTop, .forceNonJsHelp .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-jsoff.gif);}
.JSOFF .helpMessage, .forceNonJsHelp .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-jsoff.gif);}
.JSOFF .grey-panel-4 .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-jsoff-6.gif);}
.JSOFF .grey-panel-4 .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-jsoff-6.gif);}
.JSOFF .threeBlocks .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-jsoff-4.gif);}
.JSOFF .threeBlocks .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-jsoff-4.gif);}
.error .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom.gif);}
.home .error .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-4.gif);}
.OKIcon, .errorIcon{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/icons.gif);}

.twoBlocks .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-2.gif);}
.twoBlocks #boxedQuestions .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-3.gif);}
.twoBlocks .helpOn .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-no-bottom-2.gif) !important;}
.twoBlocks #boxedQuestions .helpOn .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-no-bottom-3.gif) !important;}
.twoBlocks .errorMessage .errorTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-top-2.gif);}
.twoBlocks #boxedQuestions .errorMessage .errorTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-top-3.gif);}
.JSOFF .twoBlocks .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-jsoff-2.gif);}
.JSOFF .twoBlocks .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-jsoff-2.gif);}
.twoBlocks .highlight .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-2.gif);}
.twoBlocks #boxedQuestions .highlight .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-3.gif);}
.twoBlocks .error .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-error-top-2.gif);}
.twoBlocks #boxedQuestions .error .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-error-top-3.gif);}
.twoBlocks .highlight .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-2.gif);}
.twoBlocks #boxedQuestions .highlight .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-3.gif);}
.twoBlocks .error .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-2.gif);}
.twoBlocks #boxedQuestions .error .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-3.gif);}

.JSOFF .twoBlocks #boxedQuestions .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-jsoff-5.gif);}
.JSOFF .twoBlocks #boxedQuestions .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-jsoff-5.gif);}

.twoBlocks .panelForm .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-3.gif);}
.twoBlocks .panelForm .helpOn .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-no-bottom-3.gif) !important;}
.twoBlocks .panelForm .errorMessage .errorTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-top-3.gif);}
.JSOFF .twoBlocks .panelForm .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-jsoff-3.gif);}
.JSOFF .twoBlocks .panelForm .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-jsoff-3.gif);}
.twoBlocks .panelForm .highlight .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-3.gif);}
.twoBlocks .panelForm .error .helpMessage .helpTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-error-top-3.gif);}
.twoBlocks .panelForm .highlight .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-3.gif);}
.twoBlocks .panelForm .error .helpMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-3.gif);}

.error_wrapper{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-summary.gif);}
.error_wrapper p{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-summary-footer.gif);}

.renewal .formSection .formInputs li.nobg{background-image:none;}
.renewal .formSection .formInputs li.hasChildList{background-image:none !important;}
.formInputs li.highlight, .renewal .formSection .formInputs li.highlight{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-bottom.gif);}
.formInputs li.hasChildList{background-image:none;}
.renewal .formSection .grey-panel-4 .formInputs li.highlight{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-bottom-6.gif);}
.home .formInputs li.highlight{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-bottom-4.gif);}
.highlight .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-top.gif);}
.renewal .grey-panel-4 .highlight .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-top-6.gif);}
.home .highlight .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-top-4.gif);}
.twoBlocks .formInputs li.highlight{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-bottom-2.gif);}
.twoBlocks #boxedQuestions .formInputs li.highlight{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-bottom-3.gif);}
.twoBlocks .highlight .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-top-2.gif);}
.twoBlocks #boxedQuestions .highlight .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-top-3.gif);}
.twoBlocks .panelForm .formInputs li.highlight{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-bottom-3.gif);}
.twoBlocks .panelForm .highlight .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-top-3.gif);}

.formInputs li.error, .renewal .formInputs li.error, .renewal .formSection .formInputs li.error{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-bottom.gif);}
.home .formInputs li.error{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-bottom-4.gif);}
.twoBlocks .formInputs li.error{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-bottom-2.gif);}
.twoBlocks #boxedQuestions .formInputs li.error{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-bottom-3.gif);}
.twoBlocks .panelForm .formInputs li.error{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-bottom-3.gif);}
.error .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-top.gif);}
.home .error .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-top-4.gif);}
.twoBlocks .error .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-top-2.gif);}
.twoBlocks #boxedQuestions .error .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-top-3.gif);}
.twoBlocks .panelForm .error .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-top-3.gif);}
.server-validation li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/arrow2.gif);}

.currentDetails .formElTop{background-image:none;}

#block1 .wrapperA, #block3 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/sidebox-top.gif);}
.home .threeBlocks .wrapper2 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-top.gif);}
#block1 .wrapper2 .wrapperA, #block3 .wrapper2 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/sidebox-top-2.gif);}
.home #block3 .wrapper1 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/sidebox-top-3.gif);}
.home .threeBlocks .wrapper1 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-title-form.gif);}
.home .threeBlocks .wrapper3 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-title.gif);}
#block1 .wrapperB, #block3 .wrapperB, #block1 .mta-left ul.policies li .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/sidebox-middle.gif);}
.threeBlocks .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-middle.gif);}
.threeBlocks .wrapper1 .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-middle-form.gif);}
#block1 .wrapperC, #block3 .wrapperC, #block1 .mta-left ul.policies li .wrapperC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/sidebox-bottom.gif);}
.threeBlocks .wrapperC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-bottom.gif);}
.threeBlocks .wrapper1 .wrapperC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-bottom-form.gif);}
#block1 .wrapperInner h2, #block1 .wrapperInner .quoteclause h3, #block3 .wrapperInner h2{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/sidebox-header.gif);}

#block1 .mta-left .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/mta-left-header-bg.gif);}
#block1 .mta-left .wrapperB ul{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/sidebox-middle.gif);}

#block2 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-top.gif);}
.wrapperOverlay #block2 .wrapperA {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-top-overlay.gif);}
.twoBlocks #block2 .wrapperA, .brochure .twoBlocks #block2 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-top-2.gif);}
.home .twoBlocks #block2{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-bg-1.jpg);}
.home .twoBlocks #block2 .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-large-top.gif);}
#block2 .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-middle.gif);}
.wrapperOverlay #block2 .wrapperB {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-middle-overlay.gif);}
.home .twoBlocks #block2 .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/home-box-large-bottom.gif);}
.twoBlocks #block2 .wrapperB, .brochure .twoBlocks #block2 .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-middle-2.gif);}
#block2 .wrapperC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-bottom.gif);}
.wrapperOverlay #block2 .wrapperC {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-bottom-overlay.gif);}
.twoBlocks #block2 .wrapperC, .brochure .twoBlocks #block2 .wrapperC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-bottom-2.gif);}

#popupMain .wrapperA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/popup-top.gif);}
#popupMain .wrapperB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/popup-middle.gif);}
#popupMain .wrapperC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/popup-bottom.gif);}

.wrapper-4, .wrapper-5{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/gradient-footer.png);}
.wrapper-4 h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/blue-header-1.png);}
.wrapper-5 h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/pink-header-2.png);}

#block1 .buttons input, #block3 .buttons input{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/button-left-col.gif);}


span.hideShow  input
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/icons.gif);}



span.button-01,
span.button-01a,
span.button-01b,
span.button-01c,
span.button-02,
span.button-03,
span.button-04, span.button_04,
span.button-05,
span.button-06, span.button-06a, span.button-06b, span.button-06c,
span.button-07,
span.button-08,
span.button-09, span.button-09a,
span.button-10,
span.button-11a, span.button-11b,
span.button-12
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/cta-continue-left.png);}

span.button-01 input,
span.button-01 a,
span.button-01a input,
span.button-01b input,
span.button-01c input,
span.button-02 input,
span.button-03 input,
span.button-04 input, span.button_04 input,
span.button-05 input,
span.button-06 input, span.button-06a input, span.button-06b input, span.button-06c input,
span.button-07 input,
span.button-08 input,
span.button-09 input, span.button-09a input,
span.button-10 input,
span.button-11a input, span.button-11b input,
span.button-12 input
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/cta-continue-right.png);}

.premiumPanel h3 span.button-05, .premiumPanel h3 span.button-05 input, .grey-panel-footer span.button-05, .grey-panel-footer span.switchPrices input{background:0;}

#packages .packageA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-middle.gif);}
#packages .packageB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageB-off.gif);}
#packages .packageC .price-info{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageC-off.gif);}
#packages .on .packageA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-middle-on.gif);}
#packages .on .packageB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageB-on.gif);}
#packages .on .packageC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageC-on.gif);}
#packages .on .packageD{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageD-on.gif);}

.renewal #packages .packageA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-middle-r.gif);}
.renewal #packages .packageB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageB-off-r.gif);}
.renewal #packages .packageC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageC-off-r.gif);}
.renewal #packages .packageD{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageD-off-r.gif);}
.renewal #packages .on .packageA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-middle-on-r.gif);}
.renewal #packages .on .packageB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageB-on-r.gif);}
.renewal #packages .on .packageC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageC-on-r.gif);}
.renewal #packages .on .packageD{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/packageD-on-r.gif);}

.popupSection{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/popup-section.gif) !important;}

#p1{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-1.gif);}
#p2{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-2.gif);}
#p3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-3.gif);}
#p4{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-4.gif);}
#p1.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-1.gif);}
#p2.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-2.gif);}
#p3.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-3.gif);}
#p4.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-4.gif);}

.renewal #p1{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-1-r.gif);}
.renewal #p2{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-2-r.gif);}
.renewal #p3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-3-r.gif);}
.renewal #p4{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-4-r.gif);}
.renewal #p1.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-1-r.gif);}
.renewal #p2.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-2-r.gif);}
.renewal #p3.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-3-r.gif);}
.renewal #p4.on{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/package-header-on-4-r.gif);}

.quote_values td.plus{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/plus.gif);}
.quote_values td.equals{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/equals.gif);}

#customise table{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/header3-long.gif);}
#customise table tr{background-image:none;}
#customiseContainer, #MTAcustomiseContainer{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-2.gif);}
.mta #customise{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-3.gif);}
.mta #customise table tr.h3, .mta #customise h4{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-1.gif);}
.renewal #customise table tr.h3, .renewal #customise h4, .renewal #customiseBundle h3, .renewal #customiseBundle_a h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-1.gif);}

#customiseAddOn table{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/header3-long.gif);}
#customiseAddOn table tr{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/t.gif);}

.premiumPanel, .panelPart{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premium-panel.png);}
.premiumPanel h3, .panelPart h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premium-panel-header.gif);}

.brandPanelDynamic .brandFooter a{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-buttons.gif);}

.brandPanel{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-no-text.png);}
.brandPanelDynamic{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-no-text.gif);}
.brandPanelDynamic .brandContent{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-content.gif);}

.brandFooter{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-footer.gif);}
.brandPanelDynamic .brandFooter{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-footer-dyn.gif);}

.addOnList, .brandPanelInner{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-no-text-bottom.gif);}

.paymentPanel, .securePanel{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/payment-info-1.gif);}
.paymentPanel h3, .securePanel h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/form-top-3.gif);}
.paymentPanel li, .securePanel li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/payment-types.gif);}
.securePanel li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/secure-types.gif);}

.wrapperOverlayA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/inner-overlay-top.gif);}
.wrapperOverlayB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/inner-overlay-middle.gif);}
.wrapperOverlayC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/inner-overlay-bottom.gif);}

.scrollBox1 li, .scrollBox2 li, .scrollBox3 li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/bullet.gif) !important;}

h3.dd-logo{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/header3-long-2.gif) !important;}
h3.dd-logo span{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/dd-logo-1.gif);}

.verisignBox{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/verisign-box.png);}
.verisignBox h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/pink-header-1.png);}


.panel-2A{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-2-1.gif);}
.panel-2B{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-2-2.gif);}
.panel-2C{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-2-3.gif);}

.panel-3A, .panel-3 th.main{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-1.gif);}
.panel-3B{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-2.gif);}
.panel-3C{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-3.gif);}

.panel-6A{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-6-1.gif);}
.panel-6B{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-6-2.gif);}
.panel-6C{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-6-3.gif);}

.panel-3a .panel-3B li,
.panel-3b .panel-3B dl
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-3-hr.gif);}

.panel-4A{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-4-1.gif);}
.panel-4B{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-4-2.gif);}
.panel-4C{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-4-3.gif);}

.panel-5A{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-5-1.gif);}
.panel-5B{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-5-2.gif);}

.print .panel-1A{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-1-1.gif);}
.print .panel-1B{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-1-2.gif);}
.panel-1B ul li span.tick,
.panel-2B ul li span.tick,
.panel-4B ul li span.tick
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/check2.gif);}
.print .panel-1C{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/panel-1-3.gif);}
.print .brandFooter{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brand-panel-footer.gif);}
.print h2 a.print{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/print-icon.gif);}
.print .buttons a.print{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/print-icon-2.gif);}
.print .buttons a.close{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/close-icon.gif);}
.print .excessSummary .excessSummaryA, .print .excessSummary .excessSummaryC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/print-excess-panel-1.gif);}
.print .excessSummary .excessSummaryC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/print-excess-panel-3.gif);}
.print .excessSummary .excessSummaryB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/print-excess-panel-2.gif);}
.print .excessSummary .excessSummaryB h3{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/print-h3-hr.gif);}

.confirmation-premium-price{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/confirmation-premium-price.png);}

#block2 .mta a.pdf, .brochure #block2 a.pdf{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/pdf-icon.gif);}
.licencePlate{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/licence-plate-2.gif);}
.licencePlateA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/licence-plate-1.gif);}
.mta table.quick-view td.vehicle span{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/pm_icons.gif);}
.formSection ul.policy-details .savedAnswer,
.formSection ul.policy-details-2 .savedAnswer
	{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/vehicle-icon.gif);}

#popupMain .contentTable {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brochure-ul-3-popup.gif);}
#popupMain .contentTable table{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brochure-ul-1-popup.gif);}
.brochure #block2 ul.downloads, .contentTable table{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brochure-ul-1.gif);}
.brochure #block2 ul.downloads li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brochure-ul-2.gif);}
.brochure #block2 ul.downloads li.last, .contentTable{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/brochure-ul-3.gif);}

.home .rsaLogo p{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/rsa-logo.gif);}

.home #error .formSection{background-image:none;}


li.hasChildList .claim_conviction .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/childListMiddle.gif);}
li.hasChildList .claim_convictionA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/childListTop-2.gif);}
li.hasChildList.first .claim_convictionA{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/childListTop.gif);}
li.hasChildList .claim_convictionB{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/childListMiddle.gif);}
li.hasChildList .claim_convictionC{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/childListBottom.gif);}
.formSection li.hasChildList .formInputs li{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/childListRow.gif);}
li.hasChildList .claim_conviction h4 span.button-remove input, li.ajaxInsert h3 span.button-remove input,
.button-add-another-container span input, .button-add input
{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/icons.gif);}
li.hasChildList .formInputs li.highlight, .renewal li.hasChildList .formInputs li.highlight{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-bottom-5.gif);}
li.hasChildList .highlight .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/highlight-top-5.gif);}
li.hasChildList .helpMessage .helpTop {width:544px;}
li.hasChildList .highlight .helpMessage .helpTop {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-top-5.gif);}
li.hasChildList .highlight .helpMessage {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-bottom-5.gif);}
/* form elements error */
li.hasChildList .formInputs li.error, .renewal li.hasChildList .formInputs li.error{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-bottom-5.gif);}
li.hasChildList .error .formElTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-top-5.gif);}
li.hasChildList .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-5.gif);}
li.hasChildList .errorMessage .errorTop{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-top-5.gif);}
li.hasChildList .helpOn .errorMessage{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-no-bottom-5.gif) !important;}
li.hasChildList .error .helpMessage {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/error-inner-bottom-5.gif);}
li.hasChildList .error .helpMessage .helpTop {background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/help-error-top-5.gif);}


#topMonthlyValue, #topAnnualValue{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premiumTableBG.gif);}
#topPremiumPricesPanel .annual #topMonthlyHeader,
#topPremiumPricesPanel #topAnnualHeader{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premiumTableTopOff.gif);}

#topPremiumPricesPanel #topMonthlyValue .tableLayoutHelper,
#topPremiumPricesPanel .annual #topAnnualValue .tableLayoutHelper{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premiumTableTick.gif);}

#topPremiumPricesPanel #topMonthlyHeader,
#topPremiumPricesPanel .annual #topAnnualHeader{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premiumTableTopOn.gif);}
.annual #topMonthlyFooter, #topAnnualFooter{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premiumTableBottomOff.gif);}
#topMonthlyFooter, .annual #topAnnualFooter{background-image:url(http://map-saveouts-r2:8RUduVut@map-saveouts-r2.monitormedia.net/MAP/resources/images/redesign/premiumTableBottomOn.gif);}

